In [1]:
import math
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import r2_score
import seaborn as sns
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import scale
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_fscore_support
%matplotlib inline

In [2]:
missing_value_formats = ["Don't know/Not Sure/Refused/Missing", "Don´t know, refused or missing values", "Don't know/Not sure/Missing", "Don´t know/Not Sure/Refused/Missing", "Don't know/Not Sure Or Refused/Missing", "Don't know/Refused/Missing", "Missing", "Don´t Know/Not Sure", "Don't Know / Not Sure", "Don't Know/Not sure", "Don´t Know / Not sure", "Refused","Don't know/Not sure","Not asked or Missing","Don't know/Not Sure","Don't know / Not sure","Don't know / Not Sure", "Data do not meet the criteria for statistical reliability, data quality, or confidentiality (data are suppressed).", "D"]
df2 = pd.read_csv('DataSetResearchQuestion2.csv', na_values = missing_value_formats)

In [3]:
df2.head()

,SEQNO,O_STATE,MENTHLTH,ADDEPEV2,_RFHYPE5,TOLDHI2,CVDINFR4,_RFBMI5,SEX,AGE,SMOKE100,_RFBING5,EXERANY2,_FRTLT1,_VEGLT1,CVDSTRK3
0,2015000012,Alabama,None,No,Yes,No,No,No,Male,Age 25 - 34,No,Yes,Yes,Consumed fruit less than one time per day,Consumed vegetables one or more times per day,No
1,2015000013,Alabama,Number of days,No,Yes,No,NaN,Yes,Female,Age 45 - 54,No,No,Yes,Consumed fruit less than one time per day,Consumed vegetables one or more times per day,Yes
2,2015000014,Alabama,None,No,No,Yes,No,Yes,Female,Age 25 - 34,No,No,Yes,Consumed fruit less than one time per day,Consumed vegetables one or more times per day,No
3,2015000015,Alaska,None,No,No,NaN,No,Yes,Male,Age 18 - 24,No,No,Yes,Consumed fruit less than one time per day,NaN,No
4,2015000016,Alaska,Number of days,Yes,No,NaN,No,No,Female,Age 25 - 34,No,Yes,Yes,Consumed fruit one or more times per day,Consumed vegetables one or more times per day,No

In [4]:
df2.shape

(12338, 16)

In [5]:
df2["CVDSTRK3"].value_counts()

No     11894
Yes      417
Name: CVDSTRK3, dtype: int64

In [6]:
df2["CVDSTRK3"].isnull().sum()

27

In [7]:
df2=df2[~df2['CVDSTRK3'].isnull()]

In [8]:
df2["CVDSTRK3"].isnull().sum()

0

In [9]:
df2 = df2.rename(columns={'CVDSTRK3': 'Stroke'})

In [10]:
df2.shape

(12311, 16)

In [11]:
df2["SEQNO"].duplicated().value_counts()

False    12311
Name: SEQNO, dtype: int64

In [12]:
df2["SEQNO"].isnull().sum()

0

In [13]:
df2 = df2.rename(columns={'SEQNO': 'RespondentID'})

In [101]:
#df2["O_STATE"].value_counts()

In [102]:
#df2["O_STATE"].isnull().sum()

In [103]:
#df2['O_STATE'] = df2['O_STATE'].fillna(df2['O_STATE'].value_counts().index[0])
#df2["O_STATE"].value_counts()

In [104]:
#df2["O_STATE"].isnull().sum()

In [105]:
#df2 = df2.rename(columns={'O_STATE': 'State'})

In [19]:
df2["MENTHLTH"].value_counts()

None              8003
Number of days    3993
Name: MENTHLTH, dtype: int64

In [20]:
df2["MENTHLTH"].isnull().sum()

315

In [21]:
df2["MENTHLTH"].replace("Number of days", "Poor", inplace=True)
df2["MENTHLTH"].replace("None", "Good", inplace=True)
df2['MENTHLTH'] = df2['MENTHLTH'].fillna(df2['MENTHLTH'].value_counts().index[0])
df2["MENTHLTH"].value_counts()

Good    8318
Poor    3993
Name: MENTHLTH, dtype: int64

In [22]:
df2["MENTHLTH"].isnull().sum()

0

In [23]:
df2 = df2.rename(columns={'MENTHLTH': 'MentalHealth'})

In [24]:
df2["ADDEPEV2"].value_counts()

No     10182
Yes     2079
Name: ADDEPEV2, dtype: int64

In [25]:
df2["ADDEPEV2"].isnull().sum()

50

In [26]:
df2['ADDEPEV2'] = df2['ADDEPEV2'].fillna(df2['ADDEPEV2'].value_counts().index[0])
df2["ADDEPEV2"].value_counts()

No     10232
Yes     2079
Name: ADDEPEV2, dtype: int64

In [27]:
df2["ADDEPEV2"].isnull().sum()

0

In [28]:
df2 = df2.rename(columns={'ADDEPEV2': 'DepressiveDisorder'})

In [29]:
df2["_RFHYPE5"].value_counts()

No     7737
Yes    4531
Name: _RFHYPE5, dtype: int64

In [30]:
df2["_RFHYPE5"].isnull().sum()

43

In [31]:
df2['_RFHYPE5'] = df2['_RFHYPE5'].fillna(df2['_RFHYPE5'].value_counts().index[0])
df2["_RFHYPE5"].value_counts()

No     7780
Yes    4531
Name: _RFHYPE5, dtype: int64

In [32]:
df2["_RFHYPE5"].isnull().sum()

0

In [33]:
df2 = df2.rename(columns={'_RFHYPE5': 'HighBloodPressure'})

In [34]:
df2["TOLDHI2"].value_counts()

No     6359
Yes    4383
Name: TOLDHI2, dtype: int64

In [35]:
df2["TOLDHI2"].isnull().sum()

1569

In [36]:
df2['TOLDHI2'] = df2['TOLDHI2'].fillna(df2['TOLDHI2'].value_counts().index[0])
df2["TOLDHI2"].value_counts()

No     7928
Yes    4383
Name: TOLDHI2, dtype: int64

In [37]:
df2["TOLDHI2"].isnull().sum()

0

In [38]:
df2 = df2.rename(columns={'TOLDHI2': 'HighBloodCholesterol'})

In [39]:
df2["CVDINFR4"].value_counts()

No     11630
Yes      627
Name: CVDINFR4, dtype: int64

In [40]:
df2["CVDINFR4"].isnull().sum()

54

In [41]:
df2['CVDINFR4'] = df2['CVDINFR4'].fillna(df2['CVDINFR4'].value_counts().index[0])
df2["CVDINFR4"].value_counts()

No     11684
Yes      627
Name: CVDINFR4, dtype: int64

In [42]:
df2["CVDINFR4"].isnull().sum()

0

In [43]:
df2 = df2.rename(columns={'CVDINFR4': 'HeartAttack'})

In [44]:
df2["_RFBMI5"].value_counts()

Yes    6923
No     4317
Name: _RFBMI5, dtype: int64

In [45]:
df2["_RFBMI5"].isnull().sum()

1071

In [46]:
df2['_RFBMI5'] = df2['_RFBMI5'].fillna(df2['_RFBMI5'].value_counts().index[0])
df2["_RFBMI5"].value_counts()

Yes    7994
No     4317
Name: _RFBMI5, dtype: int64

In [47]:
df2["_RFBMI5"].isnull().sum()

0

In [48]:
df2 = df2.rename(columns={'_RFBMI5': 'Overweight/Obesity'})

In [49]:
df2["SEX"].value_counts()

Female    7125
Male      5186
Name: SEX, dtype: int64

In [50]:
df2["SEX"].isnull().sum()

0

In [51]:
df2 = df2.rename(columns={'SEX': 'Sex'})

In [52]:
df2["AGE"].value_counts()

Age 65 or older    4017
Age 55 - 64        2553
Age 45 - 54        2147
Age 35 - 44        1469
Age 25 - 34        1273
Age 18 - 24         657
Name: AGE, dtype: int64

In [53]:
df2["AGE"].isnull().sum()

195

In [54]:
df2["AGE"].replace("Age 65 or older", "65 or older", inplace=True)
df2["AGE"].replace("Age 55 - 64", "55 - 64", inplace=True)
df2["AGE"].replace("Age 45 - 54", "45 - 54", inplace=True)
df2["AGE"].replace("Age 35 - 44", "35 - 44", inplace=True)
df2["AGE"].replace("Age 25 - 34", "25 - 34", inplace=True)
df2["AGE"].replace("Age 18 - 24", "18 - 24", inplace=True)
df2['AGE'] = df2['AGE'].fillna(df2['AGE'].value_counts().index[0])
df2["AGE"].value_counts()

65 or older    4212
55 - 64        2553
45 - 54        2147
35 - 44        1469
25 - 34        1273
18 - 24         657
Name: AGE, dtype: int64

In [55]:
df2["AGE"].isnull().sum()

0

In [56]:
df2 = df2.rename(columns={'AGE': 'AgeRange'})

In [57]:
df2["SMOKE100"].value_counts()

No     6612
Yes    5056
Name: SMOKE100, dtype: int64

In [58]:
df2["SMOKE100"].isnull().sum()

643

In [59]:
df2['SMOKE100'] = df2['SMOKE100'].fillna(df2['SMOKE100'].value_counts().index[0])
df2["SMOKE100"].value_counts()

No     7255
Yes    5056
Name: SMOKE100, dtype: int64

In [60]:
df2["SMOKE100"].isnull().sum()

0

In [61]:
df2 = df2.rename(columns={'SMOKE100': 'Smoke100'})

In [62]:
df2["_RFBING5"].value_counts()

No     9859
Yes    1501
Name: _RFBING5, dtype: int64

In [63]:
df2["_RFBING5"].isnull().sum()

951

In [64]:
df2['_RFBING5'] = df2['_RFBING5'].fillna(df2['_RFBING5'].value_counts().index[0])
df2["_RFBING5"].value_counts()

No     10810
Yes     1501
Name: _RFBING5, dtype: int64

In [65]:
df2["_RFBING5"].isnull().sum()

0

In [66]:
df2 = df2.rename(columns={'_RFBING5': 'BingeDrinkers'})

In [67]:
df2["EXERANY2"].value_counts()

Yes    7824
No     3107
Name: EXERANY2, dtype: int64

In [68]:
df2["EXERANY2"].isnull().sum()

1380

In [69]:
df2['EXERANY2'] = df2['EXERANY2'].fillna(df2['EXERANY2'].value_counts().index[0])
df2["EXERANY2"].value_counts()

Yes    9204
No     3107
Name: EXERANY2, dtype: int64

In [70]:
df2["EXERANY2"].isnull().sum()

0

In [71]:
df2 = df2.rename(columns={'EXERANY2': 'PhysicalActivity'})

In [72]:
df2["_FRTLT1"].value_counts()

Consumed fruit one or more times per day     7247
Consumed fruit less than one time per day    3635
Name: _FRTLT1, dtype: int64

In [73]:
df2["_FRTLT1"].isnull().sum()

1429

In [74]:
df2["_FRTLT1"].replace("Consumed fruit one or more times per day", "Yes", inplace=True)
df2["_FRTLT1"].replace("Consumed fruit less than one time per day", "No", inplace=True)
df2['_FRTLT1'] = df2['_FRTLT1'].fillna(df2['_FRTLT1'].value_counts().index[0])
df2["_FRTLT1"].value_counts()

Yes    8676
No     3635
Name: _FRTLT1, dtype: int64

In [75]:
df2["_FRTLT1"].isnull().sum()

0

In [76]:
df2 = df2.rename(columns={'_FRTLT1': 'ConsumeFruitsEveryDay'})

In [77]:
df2["_VEGLT1"].value_counts()

Consumed vegetables one or more times per day     8452
Consumed vegetables less than one time per day    2212
Name: _VEGLT1, dtype: int64

In [78]:
df2["_VEGLT1"].replace("Consumed vegetables one or more times per day", "Yes", inplace=True)
df2["_VEGLT1"].replace("Consumed vegetables less than one time per day", "No", inplace=True)
df2['_VEGLT1'] = df2['_VEGLT1'].fillna(df2['_VEGLT1'].value_counts().index[0])
df2["_VEGLT1"].value_counts()

Yes    10099
No      2212
Name: _VEGLT1, dtype: int64

In [79]:
df2["_VEGLT1"].isnull().sum()

0

In [80]:
df2 = df2.rename(columns={'_VEGLT1': 'ConsumeVegetablesEveryDay'})

In [81]:
df2.head()

,RespondentID,State,MentalHealth,DepressiveDisorder,HighBloodPressure,HighBloodCholesterol,HeartAttack,Overweight/Obesity,Sex,AgeRange,Smoke100,BingeDrinkers,PhysicalActivity,ConsumeFruitsEveryDay,ConsumeVegetablesEveryDay,Stroke
0,2015000012,Alabama,Good,No,Yes,No,No,No,Male,25 - 34,No,Yes,Yes,No,Yes,No
1,2015000013,Alabama,Poor,No,Yes,No,No,Yes,Female,45 - 54,No,No,Yes,No,Yes,Yes
2,2015000014,Alabama,Good,No,No,Yes,No,Yes,Female,25 - 34,No,No,Yes,No,Yes,No
3,2015000015,Alaska,Good,No,No,No,No,Yes,Male,18 - 24,No,No,Yes,No,Yes,No
4,2015000016,Alaska,Poor,Yes,No,No,No,No,Female,25 - 34,No,Yes,Yes,Yes,Yes,No

In [82]:
df2.shape

(12311, 16)

In [83]:
# Exporting dataset:
from IPython.display import FileLink, FileLinks

df2.to_csv('ResearchQuestion2.csv', index=False)

## Relationship:

In [99]:
data=df2.groupby(["AgeRange", "Sex", "Stroke"])["Stroke".split()].count()
data

                           Stroke
AgeRange    Sex    Stroke
18 - 24     Female No         307
                   Yes          1
            Male   No         348
                   Yes          1
25 - 34     Female No         685
                   Yes          7
            Male   No         577
                   Yes          4
35 - 44     Female No         861
                   Yes         10
            Male   No         595
                   Yes          3
45 - 54     Female No        1220
                   Yes         26
            Male   No         885
                   Yes         16
55 - 64     Female No        1451
                   Yes         45
            Male   No        1012
                   Yes         45
65 or older Female No        2378
                   Yes        134
            Male   No        1575
                   Yes        125

In [100]:
#pd.set_option("display.max_rows", None, "display.max_columns", None)
#print(data)

In [87]:
data=df2.groupby(["HighBloodPressure", "Stroke"])["Stroke".split()].count()
data

                          Stroke
HighBloodPressure Stroke
No                No        7662
                  Yes        118
Yes               No        4232
                  Yes        299

In [88]:
data=df2.groupby(["HighBloodCholesterol", "Stroke"])["Stroke".split()].count()
data

                             Stroke
HighBloodCholesterol Stroke
No                   No        7747
                     Yes        181
Yes                  No        4147
                     Yes        236

In [89]:
data=df2.groupby(["HeartAttack", "Stroke"])["Stroke".split()].count()
data

                    Stroke
HeartAttack Stroke
No          No       11381
            Yes        303
Yes         No         513
            Yes        114

In [90]:
data=df2.groupby(["MentalHealth", "Stroke"])["Stroke".split()].count()
data

                     Stroke
MentalHealth Stroke
Good         No        8075
             Yes        243
Poor         No        3819
             Yes        174

In [91]:
data=df2.groupby(["DepressiveDisorder", "Stroke"])["Stroke".split()].count()
data

                           Stroke
DepressiveDisorder Stroke
No                 No        9947
                   Yes        285
Yes                No        1947
                   Yes        132

In [92]:
data=df2.groupby(["Overweight/Obesity", "Stroke"])["Stroke".split()].count()
data

                           Stroke
Overweight/Obesity Stroke
No                 No        4199
                   Yes        118
Yes                No        7695
                   Yes        299

In [93]:
data=df2.groupby(["Smoke100", "Stroke"])["Stroke".split()].count()
data

                 Stroke
Smoke100 Stroke
No       No        7083
         Yes        172
Yes      No        4811
         Yes        245

In [94]:
data=df2.groupby(["BingeDrinkers", "Stroke"])["Stroke".split()].count()
data

                      Stroke
BingeDrinkers Stroke
No            No       10418
              Yes        392
Yes           No        1476
              Yes         25

In [95]:
data=df2.groupby(["PhysicalActivity", "Stroke"])["Stroke".split()].count()
data

                         Stroke
PhysicalActivity Stroke
No               No        2960
                 Yes        147
Yes              No        8934
                 Yes        270

In [96]:
data=df2.groupby(["ConsumeFruitsEveryDay", "Stroke"])["Stroke".split()].count()
data

                              Stroke
ConsumeFruitsEveryDay Stroke
No                    No        3510
                      Yes        125
Yes                   No        8384
                      Yes        292

In [97]:
data=df2.groupby(["ConsumeVegetablesEveryDay", "Stroke"])["Stroke".split()].count()
data

                                  Stroke
ConsumeVegetablesEveryDay Stroke
No                        No        2104
                          Yes        108
Yes                       No        9790
                          Yes        309