In [1]:
import math
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import r2_score
import seaborn as sns
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import scale
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_fscore_support
%matplotlib inline

In [2]:
missing_value_formats = ["Don't know/Not Sure/Refused/Missing", "Don´t know, refused or missing values", "Don't know/Not sure/Missing", "Don´t know/Not Sure/Refused/Missing", "Don't know/Not Sure Or Refused/Missing", "Don't know/Refused/Missing", "Missing", "Don´t Know/Not Sure", "Don't Know / Not Sure", "Don't Know/Not sure", "Don´t Know / Not sure", "Refused","Don't know/Not sure","Not asked or Missing","Don't know/Not Sure","Don't know / Not sure","Don't know / Not Sure", "Data do not meet the criteria for statistical reliability, data quality, or confidentiality (data are suppressed).", "D"]
dataset2 = pd.read_csv('DataSet.csv', na_values = missing_value_formats)

In [3]:
dataset2.head()

,SEQNO,NUMADULT,GENHLTH,PHYSHLTH,MISTMNT,MENTHLTH,MEDCOST,CHECKUP1,BPHIGH4,TOLDHI2,...,DRNK3GE5,_RFBING5,_FRUTSUM,_VEGESUM,_FRTLT1,_VEGLT1,_TOTINDA,PA1MIN_,PA1VIGM_,_PACAT1
0,2015000012,NaN,Very good,None,NaN,None,No,Within past 2 years (1 year but less than 2 ye...,Yes,No,...,Number of Times,Yes,58.0,117.0,Consumed fruit less than one time per day,Consumed vegetables one or more times per day,Had physical activity or exercise,51.0,0.0,Insufficiently Active
1,2015000013,NaN,Good,None,NaN,Number of days,Yes,Within past year (anytime less than 12 months ...,Yes,No,...,NaN,No,96.0,200.0,Consumed fruit less than one time per day,Consumed vegetables one or more times per day,Had physical activity or exercise,NaN,0.0,NaN
2,2015000014,NaN,Very good,None,NaN,None,No,Within past year (anytime less than 12 months ...,No,Yes,...,None,No,43.0,115.0,Consumed fruit less than one time per day,Consumed vegetables one or more times per day,Had physical activity or exercise,49.0,0.0,Insufficiently Active
3,2015000015,NaN,Excellent,None,NaN,None,No,Within past year (anytime less than 12 months ...,No,NaN,...,NaN,No,50.0,NaN,Consumed fruit less than one time per day,NaN,Had physical activity or exercise,0.0,0.0,NaN
4,2015000016,NaN,Excellent,Number of days,NaN,Number of days,No,Within past year (anytime less than 12 months ...,No,NaN,...,Number of Times,Yes,300.0,471.0,Consumed fruit one or more times per day,Consumed vegetables one or more times per day,Had physical activity or exercise,230.0,0.0,Active

In [4]:
dataset2.shape

(12338, 77)

## Checking Values in Each Variable

### Primary Key:

In [5]:
dataset2["SEQNO"]

0        2015000012
1        2015000013
2        2015000014
3        2015000015
4        2015000016
            ...
12333    2015012364
12334    2015012365
12335    2015012366
12336    2015012367
12337    2015012368
Name: SEQNO, Length: 12338, dtype: int64

In [6]:
dataset2["SEQNO"].duplicated().value_counts()

False    12338
Name: SEQNO, dtype: int64

### Health:

In [7]:
dataset2["GENHLTH"].value_counts()

Very good    4063
Good         3838
Excellent    2236
Fair         1536
Poor          600
Name: GENHLTH, dtype: int64

In [8]:
dataset2["PHYSHLTH"].value_counts()

None              7201
Number of days    4711
Name: PHYSHLTH, dtype: int64

In [9]:
dataset2["MENTHLTH"].value_counts()

None              8012
Number of days    4008
Name: MENTHLTH, dtype: int64

In [10]:
dataset2["MISTMNT"].value_counts()

No     4334
Yes     636
Name: MISTMNT, dtype: int64

In [11]:
dataset2["_RFHLTH"].value_counts()

Good or Better Health    10137
Fair or Poor Health       2136
Name: _RFHLTH, dtype: int64

In [12]:
dataset2["_RFHYPE5"].value_counts()

No     7750
Yes    4544
Name: _RFHYPE5, dtype: int64

In [13]:
dataset2["MEDCOST"].value_counts()

No     11150
Yes     1144
Name: MEDCOST, dtype: int64

In [14]:
dataset2["CHECKUP1"].value_counts()

Within past year (anytime less than 12 months ago)         9447
Within past 2 years (1 year but less than 2 years ago)     1395
Within past 5 years (2 years but less than 5 years ago)     770
5 or more years ago                                         547
Never                                                        69
Name: CHECKUP1, dtype: int64

In [15]:
dataset2["BPHIGH4"].value_counts()

No                                            7562
Yes                                           4544
Told borderline high or pre-hypertensive        97
Yes, but female told only during pregnancy      91
Name: BPHIGH4, dtype: int64

In [16]:
dataset2["TOLDHI2"].value_counts()

No     6367
Yes    4396
Name: TOLDHI2, dtype: int64

In [17]:
dataset2["CVDINFR4"].value_counts()

No     11648
Yes      630
Name: CVDINFR4, dtype: int64

In [18]:
dataset2["CVDCRHD4"].value_counts()

No     11608
Yes      647
Name: CVDCRHD4, dtype: int64

In [19]:
dataset2["CVDSTRK3"].value_counts()

No     11894
Yes      417
Name: CVDSTRK3, dtype: int64

In [20]:
dataset2["ASTHMA3"].value_counts()

No     10512
Yes     1788
Name: ASTHMA3, dtype: int64

In [21]:
dataset2["CHCSCNCR"].value_counts()

No     11402
Yes      910
Name: CHCSCNCR, dtype: int64

In [22]:
dataset2["CHCOCNCR"].value_counts()

No     11155
Yes     1152
Name: CHCOCNCR, dtype: int64

In [23]:
dataset2["CHCCOPD1"].value_counts()

No     11377
Yes      888
Name: CHCCOPD1, dtype: int64

In [24]:
dataset2["HAVARTH3"].value_counts()

No     8348
Yes    3912
Name: HAVARTH3, dtype: int64

In [25]:
dataset2["ADDEPEV2"].value_counts()

No     10199
Yes     2084
Name: ADDEPEV2, dtype: int64

In [26]:
dataset2["CHCKIDNY"].value_counts()

No     11955
Yes      339
Name: CHCKIDNY, dtype: int64

In [27]:
dataset2["DIABETE3"].value_counts()

No                                            10610
Yes                                            1458
No, pre-diabetes or borderline diabetes         175
Yes, but female told only during pregnancy       82
Name: DIABETE3, dtype: int64

In [28]:
dataset2["PREDIAB1"].value_counts()

No                       4671
Yes                       503
Yes, during pregnancy      44
Name: PREDIAB1, dtype: int64

In [29]:
dataset2["_RFCHOL"].value_counts()

No     6367
Yes    4396
Name: _RFCHOL, dtype: int64

In [30]:
dataset2["_MICHD"].value_counts()

Did not report having MI or CHD    11282
Reported having MI or CHD            957
Name: _MICHD, dtype: int64

In [31]:
dataset2["_LTASTH1"].value_counts()

No     10512
Yes     1788
Name: _LTASTH1, dtype: int64

In [32]:
dataset2["_CASTHM1"].value_counts()

No     11042
Yes     1214
Name: _CASTHM1, dtype: int64

In [33]:
dataset2["_ASTHMS1"].value_counts()

Never      10512
Current     1214
Former       530
Name: _ASTHMS1, dtype: int64

In [34]:
dataset2["_DRDXAR1"].value_counts()

Not diagnosed with arthritis    8348
Diagnosed with arthritis        3912
Name: _DRDXAR1, dtype: int64

In [35]:
dataset2["_BMI5CAT"].value_counts()

Normal Weight    4117
Overweight       4005
Obese            2933
Underweight       209
Name: _BMI5CAT, dtype: int64

In [36]:
dataset2["DECIDE"].value_counts()

No     10786
Yes      997
Name: DECIDE, dtype: int64

In [37]:
dataset2["BLIND"].value_counts()

No     11273
Yes      543
Name: BLIND, dtype: int64

### Personal Information:

In [38]:
dataset2["SEX"].value_counts()

Female    7139
Male      5199
Name: SEX, dtype: int64

In [39]:
dataset2["SXORIENT"].value_counts()

Straight          9328
Lesbian or gay     193
Bisexual           174
Other               45
Name: SXORIENT, dtype: int64

In [40]:
dataset2["AGE"].value_counts()

Age 65 or older    4031
Age 55 - 64        2559
Age 45 - 54        2150
Age 35 - 44        1471
Age 25 - 34        1273
Age 18 - 24         657
Name: AGE, dtype: int64

In [41]:
dataset2["_IMPAGE"].value_counts()

Age 65 or older    4032
Age 55 to 64       2675
Age 45 to 54       2209
Age 35 to 44       1490
Age 25 to 34       1275
Age 18 to 24        657
Name: _IMPAGE, dtype: int64

In [42]:
dataset2["_AGEG5YR"].value_counts()

Age 55 to 59       1314
Age 65 to 69       1295
Age 60 to 64       1245
Age 50 to 54       1171
Age 80 or older    1046
Age 45 to 49        979
Age 70 to 74        950
Age 40 to 44        745
Age 75 to 79        740
Age 35 to 39        726
Age 18 to 24        657
Age 30 to 34        650
Age 25 to 29        623
Name: _AGEG5YR, dtype: int64

In [43]:
dataset2["_AGE65YR"].value_counts()

Age 18 to 64       8110
Age 65 or older    4031
Name: _AGE65YR, dtype: int64

In [44]:
dataset2["_AGE80"].value_counts()

Imputed Age 60 to 64       1359
Imputed Age 55 to 59       1316
Imputed Age 65 to 69       1296
Imputed Age 50 to 54       1205
Imputed Age 80 or older    1046
Imputed Age 45 to 49       1004
Imputed Age 70 to 74        950
Imputed Age 40 to 44        760
Imputed Age 75 to 79        740
Imputed Age 35 to 39        730
Imputed Age 18 to 24        657
Imputed Age 30 to 34        651
Imputed Age 25 to 29        624
Name: _AGE80, dtype: int64

In [45]:
dataset2["_AGE_G"].value_counts()

Age 65 or older    4032
Age 55 to 64       2675
Age 45 to 54       2209
Age 35 to 44       1490
Age 25 to 34       1275
Age 18 to 24        657
Name: _AGE_G, dtype: int64

In [46]:
dataset2["MARITAL"].value_counts()

Married                            5742
Never married                      2538
Divorced                           1567
Widowed                            1505
Separated                           424
A member of an unmarried couple     408
Name: MARITAL, dtype: int64

In [47]:
dataset2["_EDUCAG"].value_counts()

Graduated from College or Technical School    5272
Graduated High School                         2977
Attended College or Technical School          2883
Did not graduate High School                  1114
Name: _EDUCAG, dtype: int64

In [48]:
dataset2["RENTHOM1"].value_counts()

Own                  7246
Rent                 4543
Other arrangement     448
Name: RENTHOM1, dtype: int64

In [49]:
dataset2["CPDEMO1"].value_counts()

Yes    6737
No     1643
Name: CPDEMO1, dtype: int64

In [50]:
dataset2["EMPLOY1"].value_counts()

Employed for wages                  5094
Retired                             3393
Self-employed                       1088
Unable to work                       841
A homemaker                          686
A student                            386
Out of work for 1 year or more       345
Out of work for less than 1 year     326
Name: EMPLOY1, dtype: int64

In [51]:
dataset2["NUMADULT"].value_counts()

2.0    3754
1.0    3394
3.0     806
4.0     342
5.0      91
6.0      20
7.0       3
8.0       2
Name: NUMADULT, dtype: int64

In [52]:
dataset2["CHILDREN"].value_counts()

None                  8898
Number of children    3267
Name: CHILDREN, dtype: int64

In [53]:
dataset2["_CHLDCNT"].value_counts()

No children in household              8898
One child in household                1395
Two children in household             1211
Three children in household            436
Four children in household             127
Five or more children in household      98
Name: _CHLDCNT, dtype: int64

In [54]:
dataset2["INCOME2"].value_counts()

$75,000 or more                                     3715
Less than $75,000 ($50,000 to less than $75,000)    1557
Less than $50,000 ($35,000 to less than $50,000)    1226
Less than $35,000 ($25,000 to less than $35,000)    1009
Less than $25,000 ($20,000 to less than $25,000)     870
Less than $20,000 ($15,000 to less than $20,000)     842
Less than $10,000                                    575
Less than $15,000 ($10,000 to less than $15,000)     547
Name: INCOME2, dtype: int64

In [55]:
dataset2["_INCOMG"].value_counts()

$50,000 or more                 5272
$15,000 to less than $25,000    1712
$35,000 to less than $50,000    1226
Less than $15,000               1122
$25,000 to less than $35,000    1009
Name: _INCOMG, dtype: int64

In [56]:
dataset2["INTERNET"].value_counts()

Yes    9489
No     2593
Name: INTERNET, dtype: int64

### Smoke and Alcohol:

In [57]:
dataset2["SMOKE100"].value_counts()

No     6624
Yes    5070
Name: SMOKE100, dtype: int64

In [58]:
dataset2["SMOKDAY2"].value_counts()

Not at all    3472
Every day     1075
Some days      495
Name: SMOKDAY2, dtype: int64

In [59]:
dataset2["LASTSMK2"].value_counts()

10 years or more                                                  2245
Within the past 5 years (1 year but less than 5 years ago)         397
Within the past 10 years (5 years but less than 10 years ago)      346
Within the past year (6 months but less than 1 year ago)           131
Never smoked regularly                                             108
Within the past 3 months (1 month but less than 3 months ago)       73
Within the past month (less than 1 month ago)                       73
Within the past 6 months (3 months but less than 6 months ago)      71
Name: LASTSMK2, dtype: int64

In [60]:
dataset2["USENOW3"].value_counts()

Not at all    11388
Some days       140
Every day        74
Name: USENOW3, dtype: int64

In [61]:
dataset2["_SMOKER3"].value_counts()

Never smoked                             6624
Former smoker                            3472
Current smoker - now smokes every day    1075
Current smoker - now smokes some days     495
Name: _SMOKER3, dtype: int64

In [62]:
dataset2["_RFSMOK3"].value_counts()

No     10096
Yes     1570
Name: _RFSMOK3, dtype: int64

In [63]:
dataset2["_DRNKWEK"].value_counts()

0        5087
99900     942
23        674
47        565
93        383
         ...
443         1
2450        1
1213        1
2613        1
2520        1
Name: _DRNKWEK, Length: 102, dtype: int64

In [64]:
dataset2["_RFBING5"].value_counts()

No     9882
Yes    1503
Name: _RFBING5, dtype: int64

In [65]:
dataset2["DRNK3GE5"].value_counts()

None               4795
Number of Times    1503
Name: DRNK3GE5, dtype: int64

### Fruits and Vegetables:

In [66]:
dataset2["_FRUTSUM"].value_counts()

200.0     1619
100.0     1349
300.0      763
43.0       360
400.0      308
          ...
231.0        1
5000.0       1
471.0        1
1300.0       1
620.0        1
Name: _FRUTSUM, Length: 229, dtype: int64

In [67]:
dataset2["_VEGESUM"].value_counts()

200.0    213
143.0    191
100.0    171
243.0    166
157.0    166
        ...
389.0      1
464.0      1
399.0      1
523.0      1
375.0      1
Name: _VEGESUM, Length: 555, dtype: int64

In [68]:
dataset2["_FRTLT1"].value_counts()

Consumed fruit one or more times per day     7261
Consumed fruit less than one time per day    3642
Name: _FRTLT1, dtype: int64

In [69]:
dataset2["_VEGLT1"].value_counts()

Consumed vegetables one or more times per day     8466
Consumed vegetables less than one time per day    2219
Name: _VEGLT1, dtype: int64

### Exercise and Physical Activity:

In [70]:
dataset2["EXERANY2"].value_counts()

Yes    7837
No     3118
Name: EXERANY2, dtype: int64

In [71]:
dataset2["EXRACT11"].value_counts()

Walking                                                     4232
Running                                                      623
Weight lifting                                               329
Gardening (spading, weeding, digging, filling)               236
Bicycling machine exercise                                   216
                                                            ...
Skateboarding                                                  1
Badminton                                                      1
Hunting small game – quail                                     1
Active Gaming Devices (Wii Fit, Dance, Dance revolution)       1
Sledding, tobogganing                                          1
Name: EXRACT11, Length: 65, dtype: int64

In [72]:
dataset2["EXEROFT1"].value_counts()

Times per week     5440
Times per month    2153
Name: EXEROFT1, dtype: int64

In [73]:
dataset2["EXERHMM1"].value_counts()

Hours and Minutes    7604
Name: EXERHMM1, dtype: int64

In [74]:
dataset2["EXRACT21"].value_counts()

No other activity                                               2307
Walking                                                         1155
Weight lifting                                                   545
Household Activities (vacuuming, dusting, home repair, etc.)     437
Running                                                          237
                                                                ...
Mountain climbing                                                  1
Paddleball                                                         1
Hunting small game – quail                                         1
Squash                                                             1
Handball                                                           1
Name: EXRACT21, Length: 71, dtype: int64

In [75]:
dataset2["_TOTINDA"].value_counts()

Had physical activity or exercise                   7837
No physical activity or exercise in last 30 days    3118
Name: _TOTINDA, dtype: int64

In [76]:
dataset2["PA1MIN_"].value_counts()

0.0       391
180.0     284
120.0     280
420.0     270
210.0     237
         ...
459.0       1
1830.0      1
557.0       1
2596.0      1
67.0        1
Name: PA1MIN_, Length: 780, dtype: int64

In [77]:
dataset2["PA1VIGM_"].value_counts()

0.0      4120
60.0      233
120.0     220
180.0     213
90.0      177
         ...
96.0        1
539.0       1
404.0       1
616.0       1
620.0       1
Name: PA1VIGM_, Length: 389, dtype: int64

In [78]:
dataset2["_PACAT1"].value_counts()

Inactive                 3372
Highly Active            3255
Insufficiently Active    1878
Active                   1867
Name: _PACAT1, dtype: int64

### Vaccine and Test:

In [79]:
dataset2["FLUSHOT6"].value_counts()

No     5604
Yes    5163
Name: FLUSHOT6, dtype: int64

In [80]:
dataset2["PNEUVAC3"].value_counts()

No     5799
Yes    4058
Name: PNEUVAC3, dtype: int64

In [81]:
dataset2["HIVTST6"].value_counts()

No     6190
Yes    4292
Name: HIVTST6, dtype: int64

In [82]:
dataset2.shape

(12338, 77)