In [1]:
import math
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import r2_score
import seaborn as sns
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import scale
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_fscore_support
%matplotlib inline

In [2]:
missing_value_formats = ["Don't know/Not Sure Or Refused/Missing", "Don't know/Refused/Missing", "Missing", "Don´t Know/Not Sure", "Don't Know / Not Sure", "Don't Know/Not sure", "Don´t Know / Not sure", "Refused","Don't know/Not sure","Not asked or Missing","Don't know/Not Sure","Don't know / Not sure","Don't know / Not Sure", "Data do not meet the criteria for statistical reliability, data quality, or confidentiality (data are suppressed).", "D"]
dataset = pd.read_csv('brfss_for_bda_2021.csv', na_values = missing_value_formats)

C:\Users\Admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (18,19,21,22,24,25,26,27,28,66,67,68,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,156,159,163,164,165,183,193,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
dataset.head()

,_STATE,_GEOSTR,_DENSTR2,PRECALL,SECSCRFL,REPNUM,REPDEPTH,FMONTH,IDATE,IMONTH,...,PPS_45,PPS_46,PPS_48,PPS_52,childage,cracorg1,_prace1,mracasc1,_impcty,mracorg1
0,New York,207,NaN,To be called,NaN,40187,5,April,4092015,April,...,No,No,No,Yes,NaN,NaN,NaN,NaN,NaN,NaN
1,New York,207,NaN,To be called,NaN,60025,21,June,6232015,June,...,No,No,No,Yes,NaN,NaN,NaN,NaN,NaN,NaN
2,New York,203,NaN,To be called,NaN,120050,3,December,12282015,December,...,No,No,No,No,NaN,NaN,NaN,NaN,NaN,NaN
3,New York,206,NaN,To be called,NaN,30066,28,March,3182015,March,...,No,No,No,No,NaN,NaN,NaN,NaN,NaN,NaN
4,New York,203,NaN,To be called,NaN,110026,23,November,11292015,November,...,No,No,No,No,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dataset.shape

(12338, 414)

In [5]:
dataset.dtypes

_STATE       object
_GEOSTR       int64
_DENSTR2    float64
PRECALL      object
SECSCRFL    float64
             ...
cracorg1    float64
_prace1     float64
mracasc1    float64
_impcty     float64
mracorg1    float64
Length: 414, dtype: object

In [6]:
dataset["_STATE"].value_counts()

New York    12338
Name: _STATE, dtype: int64

In [7]:
dataset["_STATE"].isnull().sum()

0

In [8]:
dataset["_GEOSTR"].value_counts()

107    2970
207    1467
104    1025
105     867
101     747
102     722
106     708
103     691
108     688
204     454
205     393
208     341
206     332
202     323
201     309
203     301
Name: _GEOSTR, dtype: int64

In [9]:
dataset["_GEOSTR"].isnull().sum()

0

In [10]:
dataset["_DENSTR2"].value_counts()

Series([], Name: _DENSTR2, dtype: int64)

In [11]:
dataset.drop("_DENSTR2", axis=1, inplace=True)

In [12]:
dataset["PRECALL"].value_counts()

To be called                   12336
cell phone - unknown status        2
Name: PRECALL, dtype: int64

In [13]:
dataset['PRECALL'].replace(to_replace ="cell phone - unknown status",
                 value ="To be called", inplace=True)

In [14]:
dataset["PRECALL"].value_counts()

To be called    12338
Name: PRECALL, dtype: int64

In [15]:
dataset["PRECALL"].isnull().sum()

0

In [16]:
dataset["SECSCRFL"].value_counts()

1.0    5889
7.0    1944
5.0     273
6.0     133
2.0     107
4.0      49
3.0      23
0.0       9
Name: SECSCRFL, dtype: int64

In [17]:
dataset["SECSCRFL"].isnull().sum()

3911

In [18]:
dataset["REPNUM"].value_counts()

40002    10
50073     9
10004     9
10049     9
10028     9
         ..
60416     1
70187     1
60424     1
50189     1
20478     1
Name: REPNUM, Length: 5957, dtype: int64

In [19]:
dataset["REPNUM"].isnull().sum()

0

In [20]:
dataset["REPDEPTH"].value_counts()

12    448
15    437
10    436
5     435
28    434
22    427
14    427
24    425
23    419
20    419
8     418
17    416
27    414
7     412
29    412
1     411
11    409
4     408
19    406
2     403
16    402
9     402
6     401
30    400
3     394
13    390
25    388
18    385
26    383
21    377
Name: REPDEPTH, dtype: int64

In [21]:
dataset["REPDEPTH"].isnull().sum()

0

In [22]:
dataset["FMONTH"].value_counts()

January      1892
February     1749
March        1747
April         940
May           883
June          856
October       770
December      750
November      745
July          701
September     655
August        650
Name: FMONTH, dtype: int64

In [23]:
dataset["FMONTH"].isnull().sum()

0

In [24]:
dataset["IDATE"].value_counts()

3312015     180
2062015     164
3012015     124
2052015     117
2272015     112
           ...
1222016       1
3282015       1
12242015      1
1242016       1
1252016       1
Name: IDATE, Length: 359, dtype: int64

In [25]:
dataset["IMONTH"].value_counts()

February     2075
March        1754
January      1557
April         927
November      888
May           887
June          859
December      770
July          702
August        652
October       651
September     616
Name: IMONTH, dtype: int64

In [26]:
dataset["IDAY"].value_counts()

6     532
1     524
9     501
2     465
19    453
10    451
14    448
12    448
16    442
8     441
5     440
11    439
17    430
15    420
7     412
31    404
18    397
3     393
13    389
4     382
30    371
20    353
27    349
22    343
28    342
24    333
23    322
21    319
26    285
25    258
29    252
Name: IDAY, dtype: int64

In [27]:
dataset["IYEAR"].value_counts()

2015    12330
2016        8
Name: IYEAR, dtype: int64

In [28]:
dataset["DISPCODE"].value_counts()

1100    9920
1200    2418
Name: DISPCODE, dtype: int64

In [29]:
dataset["SEQNO"].value_counts()

2015002624    1
2015001346    1
2015003301    1
2015009446    1
2015007399    1
             ..
2015012190    1
2015008096    1
2015010145    1
2015004002    1
2015004671    1
Name: SEQNO, Length: 12338, dtype: int64

In [30]:
dataset["_PSU"].value_counts()

2015002624    1
2015001346    1
2015003301    1
2015009446    1
2015007399    1
             ..
2015012190    1
2015008096    1
2015010145    1
2015004002    1
2015004671    1
Name: _PSU, Length: 12338, dtype: int64

In [31]:
dataset["NATTMPTS"].value_counts()

1     2419
2     1795
3     1333
4     1163
5     1003
8      975
6      749
7      648
15     605
9      356
10     302
11     241
12     196
13     190
14     182
17      88
16      79
18      13
21       1
Name: NATTMPTS, dtype: int64

In [32]:
dataset["NRECSEL"].value_counts()

34842    2167
24887    1467
85938     803
9519      687
6270      663
5551      646
5619      643
7622      624
5857      614
5352      609
9096      454
7332      393
5432      341
24441     338
4465      332
4414      323
4179      309
3593      301
16918     243
10800      84
10158      82
9831       79
10853      74
9659       62
Name: NRECSEL, dtype: int64

In [33]:
dataset["NRECSTR"].value_counts()

1.346955e+07    1467
1.743309e+06     956
4.114412e+06     454
1.721483e+06     451
1.743795e+06     418
                ...
1.004143e+06      12
8.618180e+05      11
6.251590e+05      11
6.324080e+05      10
6.761290e+05       7
Name: NRECSTR, Length: 72, dtype: int64

In [34]:
dataset["PVTRESD1"].value_counts()

Yes    8412
No        6
Name: PVTRESD1, dtype: int64

In [35]:
dataset["PVTRESD1"].replace("Missing", np.nan, inplace=True)

In [36]:
dataset["PVTRESD1"].value_counts()

Yes    8412
No        6
Name: PVTRESD1, dtype: int64

In [37]:
dataset["PVTRESD1"].isnull().sum()

3920

In [38]:
dataset["COLGHOUS"].value_counts()

Yes    6
Name: COLGHOUS, dtype: int64

In [39]:
dataset.drop("COLGHOUS", axis=1, inplace=True)

In [40]:
dataset["STATERES"].value_counts()

1.0    8418
Name: STATERES, dtype: int64

In [41]:
dataset["STATERES"].isnull().sum()

3920

In [42]:
dataset["CELLFON3"].value_counts()

Yes                     8417
Not a cellular phone       1
Name: CELLFON3, dtype: int64

In [43]:
dataset["CELLFON3"].replace("Missing", np.nan, inplace=True)

In [44]:
dataset["CELLFON3"].value_counts()

Yes                     8417
Not a cellular phone       1
Name: CELLFON3, dtype: int64

In [45]:
dataset["CELLFON3"].isnull().sum()

3920

In [46]:
dataset["LADULT"].value_counts()

Yes, respondent is female    4
Yes, respondent is male      2
Name: LADULT, dtype: int64

In [47]:
dataset.drop("LADULT", axis=1, inplace=True)

In [48]:
dataset["NUMADULT"].value_counts()

2.0    3754
1.0    3394
3.0     806
4.0     342
5.0      91
6.0      20
7.0       3
8.0       2
Name: NUMADULT, dtype: int64

In [49]:
dataset["NUMADULT"].isnull().sum()

3926

In [50]:
dataset["CADULT"].value_counts()

Yes, Male Respondent      1996
Yes, Female Respondent    1924
Name: CADULT, dtype: int64

In [51]:
dataset.drop("CADULT", axis=1, inplace=True)

In [52]:
dataset["CCLGHOUS"].value_counts()

Yes    44
Name: CCLGHOUS, dtype: int64

In [53]:
dataset.drop("CCLGHOUS", axis=1, inplace=True)

In [54]:
dataset["CSTATE"].value_counts()

Yes    3471
No      449
Name: CSTATE, dtype: int64

In [55]:
dataset.drop("CSTATE", axis=1, inplace=True)

In [56]:
dataset["RSPSTATE"].value_counts()

New York    449
Name: RSPSTATE, dtype: int64

In [57]:
dataset.drop("RSPSTATE", axis=1, inplace=True)

In [58]:
dataset["LANDLINE"].value_counts()

No     2146
Yes    1731
Name: LANDLINE, dtype: int64

In [59]:
dataset.drop("LANDLINE", axis=1, inplace=True)

In [60]:
dataset["HHADULT"].value_counts()

2.0     1754
1.0      938
3.0      630
4.0      344
5.0      131
6.0       38
7.0       20
8.0        7
10.0       5
9.0        3
99.0       2
12.0       2
11.0       1
Name: HHADULT, dtype: int64

In [61]:
dataset["HHADULT"].isnull().sum()

8463

In [62]:
dataset.drop("HHADULT", axis=1, inplace=True)

In [63]:
dataset["GENHLTH"].value_counts()

Very good    4063
Good         3838
Excellent    2236
Fair         1536
Poor          600
Name: GENHLTH, dtype: int64

In [64]:
dataset["GENHLTH"].replace("Don't know/Not Sure", "Very good", inplace=True)

In [65]:
dataset["GENHLTH"].value_counts()

Very good    4063
Good         3838
Excellent    2236
Fair         1536
Poor          600
Name: GENHLTH, dtype: int64

In [66]:
dataset["GENHLTH"].value_counts()

Very good    4063
Good         3838
Excellent    2236
Fair         1536
Poor          600
Name: GENHLTH, dtype: int64

In [67]:
dataset["GENHLTH"].isnull().sum()

65

In [68]:
dataset["PHYSHLTH"].value_counts()

None              7201
Number of days    4711
Name: PHYSHLTH, dtype: int64

In [69]:
dataset["PHYSHLTH"].isnull().sum()

426

In [70]:
dataset["MENTHLTH"].value_counts()

None              8012
Number of days    4008
Name: MENTHLTH, dtype: int64

In [71]:
dataset["GENHLTH"].replace("Refused", np.nan, inplace=True)
dataset["MENTHLTH"].replace("Refused", np.nan, inplace=True)
dataset["MENTHLTH"].replace("Don't know/Not sure", np.nan, inplace=True)

In [72]:
dataset["MENTHLTH"].value_counts()

None              8012
Number of days    4008
Name: MENTHLTH, dtype: int64

In [73]:
dataset["MENTHLTH"].isnull().sum()

318

In [74]:
dataset["GENHLTH"].value_counts()

Very good    4063
Good         3838
Excellent    2236
Fair         1536
Poor          600
Name: GENHLTH, dtype: int64

In [75]:
dataset["POORHLTH"].value_counts()

None              3792
Number of days    2871
Name: POORHLTH, dtype: int64

In [76]:
dataset["POORHLTH"].replace("Not asked or Missing", np.nan, inplace=True)
dataset["POORHLTH"].replace("Refused", np.nan, inplace=True)
dataset["POORHLTH"].replace("Don't know/Not sure", np.nan, inplace=True)

In [77]:
dataset["POORHLTH"].value_counts()

None              3792
Number of days    2871
Name: POORHLTH, dtype: int64

In [78]:
dataset["POORHLTH"].isnull().sum()

5675

In [79]:
dataset["HLTHPLN1"].value_counts()

Yes    11523
No       772
Name: HLTHPLN1, dtype: int64

In [80]:
dataset["HLTHPLN1"].replace("Refused", np.nan, inplace=True)
dataset["HLTHPLN1"].replace("Don't know/Not Sure", np.nan, inplace=True)

In [81]:
dataset["HLTHPLN1"].value_counts()

Yes    11523
No       772
Name: HLTHPLN1, dtype: int64

In [82]:
dataset["HLTHPLN1"].isnull().sum()

43

In [83]:
dataset["PERSDOC2"].value_counts()

Yes, only one    9917
No               1419
More than one     909
Name: PERSDOC2, dtype: int64

In [84]:
dataset["PERSDOC2"].replace("Refused", np.nan, inplace=True)
dataset["PERSDOC2"].replace("Don't know/Not Sure", np.nan, inplace=True)

In [85]:
dataset["PERSDOC2"].value_counts()

Yes, only one    9917
No               1419
More than one     909
Name: PERSDOC2, dtype: int64

In [86]:
dataset["MEDCOST"].value_counts()

No     11150
Yes     1144
Name: MEDCOST, dtype: int64

In [87]:
dataset["MEDCOST"].replace("Refused", np.nan, inplace=True)
dataset["MEDCOST"].replace("Don't know/Not sure", np.nan, inplace=True)

In [88]:
dataset["MEDCOST"].value_counts()

No     11150
Yes     1144
Name: MEDCOST, dtype: int64

In [89]:
dataset["CHECKUP1"].value_counts()

Within past year (anytime less than 12 months ago)         9447
Within past 2 years (1 year but less than 2 years ago)     1395
Within past 5 years (2 years but less than 5 years ago)     770
5 or more years ago                                         547
Never                                                        69
Name: CHECKUP1, dtype: int64

In [90]:
dataset["CHECKUP1"].replace("Refused", np.nan, inplace=True)
dataset["CHECKUP1"].replace("Don't know/Not sure", np.nan, inplace=True)

In [91]:
dataset["CHECKUP1"].value_counts()

Within past year (anytime less than 12 months ago)         9447
Within past 2 years (1 year but less than 2 years ago)     1395
Within past 5 years (2 years but less than 5 years ago)     770
5 or more years ago                                         547
Never                                                        69
Name: CHECKUP1, dtype: int64

In [92]:
dataset["BPHIGH4"].value_counts()

No                                            7562
Yes                                           4544
Told borderline high or pre-hypertensive        97
Yes, but female told only during pregnancy      91
Don´t know/Not Sure                             14
Name: BPHIGH4, dtype: int64

In [93]:
dataset["BPHIGH4"].replace("Refused", np.nan, inplace=True)
dataset["BPHIGH4"].replace("Don´t know/Not Sure", np.nan, inplace=True)

In [94]:
dataset["BPHIGH4"].value_counts()

No                                            7562
Yes                                           4544
Told borderline high or pre-hypertensive        97
Yes, but female told only during pregnancy      91
Name: BPHIGH4, dtype: int64

In [977]:
dataset["BPHIGH4"].isnull().sum()

44

In [95]:
dataset["BPMEDS"].value_counts()

Yes    3761
No      777
Name: BPMEDS, dtype: int64

In [96]:
dataset["BPMEDS"].replace("Refused", np.nan, inplace=True)
dataset["BPMEDS"].replace("Don't know/Not Sure", np.nan, inplace=True)
dataset["BPMEDS"].replace("Not asked or Missing", np.nan, inplace=True)

In [97]:
dataset["BPMEDS"].value_counts()

Yes    3761
No      777
Name: BPMEDS, dtype: int64

In [98]:
dataset["BPMEDS"].isnull().sum()

7800

In [99]:
dataset.drop("BPMEDS", axis=1, inplace=True)

In [100]:
dataset["BLOODCHO"].value_counts()

Yes    10851
No      1258
Name: BLOODCHO, dtype: int64

In [101]:
dataset["BLOODCHO"].replace("Refused", np.nan, inplace=True)
dataset["BLOODCHO"].replace("Don't know/Not Sure", np.nan, inplace=True)

In [102]:
dataset["BLOODCHO"].value_counts()

Yes    10851
No      1258
Name: BLOODCHO, dtype: int64

In [103]:
dataset["CHOLCHK"].value_counts()

Within the past year (anytime less than 12 months ago)         8422
Within the past 2 years (1 year but less than 2 years ago)     1251
Within the past 5 years (2 years but less than 5 years ago)     755
5 or more years ago                                             316
Name: CHOLCHK, dtype: int64

In [104]:
dataset["CHOLCHK"].replace("Refused", np.nan, inplace=True)
dataset["CHOLCHK"].replace("Don't know/Not Sure", np.nan, inplace=True)
dataset["CHOLCHK"].replace("Not asked or Missing", np.nan, inplace=True)

In [105]:
dataset["CHOLCHK"].value_counts()

Within the past year (anytime less than 12 months ago)         8422
Within the past 2 years (1 year but less than 2 years ago)     1251
Within the past 5 years (2 years but less than 5 years ago)     755
5 or more years ago                                             316
Name: CHOLCHK, dtype: int64

In [106]:
dataset["TOLDHI2"].value_counts()

No     6367
Yes    4396
Name: TOLDHI2, dtype: int64

In [107]:
dataset["TOLDHI2"].replace("Not asked or Missing", np.nan, inplace=True)
dataset["TOLDHI2"].replace("Refused", np.nan, inplace=True)
dataset["TOLDHI2"].replace("Don't know/Not Sure", np.nan, inplace=True)

In [108]:
dataset["TOLDHI2"].value_counts()

No     6367
Yes    4396
Name: TOLDHI2, dtype: int64

In [109]:
dataset["TOLDHI2"].isnull().sum()

1575

In [110]:
dataset["CVDINFR4"].value_counts()

No     11648
Yes      630
Name: CVDINFR4, dtype: int64

In [111]:
dataset["CVDINFR4"].replace("Refused", np.nan, inplace=True)
dataset["CVDINFR4"].replace("Don't know/Not sure", np.nan, inplace=True)

In [112]:
dataset["CVDINFR4"].value_counts()

No     11648
Yes      630
Name: CVDINFR4, dtype: int64

In [113]:
dataset["CVDINFR4"].isnull().sum()

60

In [114]:
dataset["CVDCRHD4"].value_counts()

No     11608
Yes      647
Name: CVDCRHD4, dtype: int64

In [115]:
dataset["CVDCRHD4"].replace("Refused", np.nan, inplace=True)
dataset["CVDCRHD4"].replace("Don't know/Not sure", np.nan, inplace=True)

In [116]:
dataset["CVDCRHD4"].value_counts()

No     11608
Yes      647
Name: CVDCRHD4, dtype: int64

In [117]:
dataset["CVDCRHD4"].isnull().sum()

83

In [118]:
dataset["CVDSTRK3"].value_counts()

No     11894
Yes      417
Name: CVDSTRK3, dtype: int64

In [119]:
dataset["CVDSTRK3"].replace("Refused", np.nan, inplace=True)
dataset["CVDSTRK3"].replace("Don't know/Not sure", np.nan, inplace=True)

In [120]:
dataset["CVDSTRK3"].value_counts()

No     11894
Yes      417
Name: CVDSTRK3, dtype: int64

In [121]:
dataset["CVDSTRK3"].isnull().sum()

27

In [122]:
dataset["ASTHMA3"].value_counts()

No     10512
Yes     1788
Name: ASTHMA3, dtype: int64

In [123]:
dataset["ASTHMA3"].replace("Refused", np.nan, inplace=True)
dataset["ASTHMA3"].replace("Don't know/Not Sure", np.nan, inplace=True)

In [124]:
dataset["ASTHMA3"].value_counts()

No     10512
Yes     1788
Name: ASTHMA3, dtype: int64

In [125]:
dataset["ASTHMA3"].isnull().sum()

38

In [126]:
dataset["ASTHNOW"].value_counts()

Yes    1214
No      530
Name: ASTHNOW, dtype: int64

In [127]:
dataset["ASTHNOW"].replace("Not asked or Missing", np.nan, inplace=True)
dataset["ASTHNOW"].replace("Refused", np.nan, inplace=True)
dataset["ASTHNOW"].replace("Don't know/Not Sure", np.nan, inplace=True)

In [128]:
dataset["ASTHNOW"].value_counts()

Yes    1214
No      530
Name: ASTHNOW, dtype: int64

In [129]:
dataset["ASTHNOW"].isnull().sum()

10594

In [130]:
dataset.drop("ASTHNOW", axis=1, inplace=True)

In [131]:
dataset["CHCSCNCR"].value_counts()

No     11402
Yes      910
Name: CHCSCNCR, dtype: int64

In [132]:
dataset["CHCSCNCR"].replace("Refused", np.nan, inplace=True)
dataset["CHCSCNCR"].replace("Don't know / Not sure", np.nan, inplace=True)

In [133]:
dataset["CHCSCNCR"].value_counts()

No     11402
Yes      910
Name: CHCSCNCR, dtype: int64

In [134]:
dataset["CHCSCNCR"].isnull().sum()

26

In [135]:
dataset["CHCCOPD1"].value_counts()

No     11377
Yes      888
Name: CHCCOPD1, dtype: int64

In [136]:
dataset["CHCCOPD1"].replace("Refused", np.nan, inplace=True)
dataset["CHCCOPD1"].replace("Don't know / Not sure", np.nan, inplace=True)

In [137]:
dataset["CHCCOPD1"].value_counts()

No     11377
Yes      888
Name: CHCCOPD1, dtype: int64

In [138]:
dataset["CHCCOPD1"].isnull().sum()

73

In [139]:
dataset["HAVARTH3"].value_counts()

No     8348
Yes    3912
Name: HAVARTH3, dtype: int64

In [140]:
dataset["HAVARTH3"].replace("Refused", np.nan, inplace=True)
dataset["HAVARTH3"].replace("Don't know/Not Sure", np.nan, inplace=True)

In [141]:
dataset["HAVARTH3"].value_counts()

No     8348
Yes    3912
Name: HAVARTH3, dtype: int64

In [142]:
dataset["HAVARTH3"].isnull().sum()

78

In [143]:
dataset["ADDEPEV2"].value_counts()

No     10199
Yes     2084
Name: ADDEPEV2, dtype: int64

In [144]:
dataset["ADDEPEV2"].replace("Refused", np.nan, inplace=True)
dataset["ADDEPEV2"].replace("Don't know/Not sure", np.nan, inplace=True)

In [145]:
dataset["ADDEPEV2"].value_counts()

No     10199
Yes     2084
Name: ADDEPEV2, dtype: int64

In [146]:
dataset["ADDEPEV2"].isnull().sum()

55

In [147]:
dataset["CHCKIDNY"].value_counts()

No     11955
Yes      339
Name: CHCKIDNY, dtype: int64

In [148]:
dataset["CHCKIDNY"].replace("Refused", np.nan, inplace=True)
dataset["CHCKIDNY"].replace("Don't know / Not sure", np.nan, inplace=True)

In [149]:
dataset["CHCKIDNY"].value_counts()

No     11955
Yes      339
Name: CHCKIDNY, dtype: int64

In [150]:
dataset["CHCKIDNY"].isnull().sum()

44

In [151]:
dataset["DIABETE3"].value_counts()

No                                            10610
Yes                                            1458
No, pre-diabetes or borderline diabetes         175
Yes, but female told only during pregnancy       82
Name: DIABETE3, dtype: int64

In [152]:
dataset["DIABETE3"].replace("Refused", np.nan, inplace=True)
dataset["DIABETE3"].replace("Don't know/Not Sure", np.nan, inplace=True)

In [153]:
dataset["DIABETE3"].value_counts()

No                                            10610
Yes                                            1458
No, pre-diabetes or borderline diabetes         175
Yes, but female told only during pregnancy       82
Name: DIABETE3, dtype: int64

In [154]:
dataset["DIABAGE2"].value_counts()

Age in years  [97 = 97 and older]    1386
Name: DIABAGE2, dtype: int64

In [155]:
dataset["DIABAGE2"].replace("Refused", np.nan, inplace=True)
dataset["DIABAGE2"].replace("Don't know/Not sure", np.nan, inplace=True)
dataset["DIABAGE2"].replace("Not asked or Missing", np.nan, inplace=True)

In [156]:
dataset["DIABAGE2"].value_counts()

Age in years  [97 = 97 and older]    1386
Name: DIABAGE2, dtype: int64

In [157]:
dataset["SEX"].value_counts()

Female    7139
Male      5199
Name: SEX, dtype: int64

In [158]:
dataset["SEX"].isnull().sum()

0

In [159]:
dataset["AGE"].value_counts()

Age 65 or older    4031
Age 55 - 64        2559
Age 45 - 54        2150
Age 35 - 44        1471
Age 25 - 34        1273
Age 18 - 24         657
Name: AGE, dtype: int64

In [160]:
dataset["AGE"].replace("Refused", np.nan, inplace=True)
dataset["AGE"].replace("Don't know/Not sure", np.nan, inplace=True)

In [161]:
dataset["AGE"].value_counts()

Age 65 or older    4031
Age 55 - 64        2559
Age 45 - 54        2150
Age 35 - 44        1471
Age 25 - 34        1273
Age 18 - 24         657
Name: AGE, dtype: int64

In [162]:
dataset["HISPANC3"].value_counts()

Series([], Name: HISPANC3, dtype: int64)

In [163]:
dataset["HISPANC3"].isnull().sum()

12338

In [164]:
dataset.drop("HISPANC3", axis=1, inplace=True)

In [165]:
dataset["MRACE1"].value_counts()

Series([], Name: MRACE1, dtype: int64)

In [166]:
dataset["MRACE1"].isnull().sum()

12338

In [167]:
dataset.drop("MRACE1", axis=1, inplace=True)

In [168]:
dataset["ORACE3"].value_counts()

Series([], Name: ORACE3, dtype: int64)

In [169]:
dataset.drop("ORACE3", axis=1, inplace=True)

In [170]:
dataset["MARITAL"].value_counts()

Married                            5742
Never married                      2538
Divorced                           1567
Widowed                            1505
Separated                           424
A member of an unmarried couple     408
Name: MARITAL, dtype: int64

In [171]:
dataset["MARITAL"].isnull().sum()

154

In [172]:
dataset["EDUCA"].value_counts()

College 4 years or more (College graduate)                      5272
Grade 12 or GED (High school graduate)                          2977
College 1 year to 3 years (Some college or technical school)    2883
Grades 9 through 11 (Some high school)                           652
Grades 1 through 8 (Elementary)                                  440
Never attended school or only kindergarten                        22
Name: EDUCA, dtype: int64

In [173]:
dataset["EDUCA"].isnull().sum()

92

In [174]:
dataset["RENTHOM1"].value_counts()

Own                  7246
Rent                 4543
Other arrangement     448
Name: RENTHOM1, dtype: int64

In [978]:
dataset["RENTHOM1"].isnull().sum()

101

In [175]:
dataset["CTYCODE1"].value_counts()

Series([], Name: CTYCODE1, dtype: int64)

In [176]:
dataset.drop("CTYCODE1", axis=1, inplace=True)

In [177]:
dataset["ZIPCODE"].value_counts()

Series([], Name: ZIPCODE, dtype: int64)

In [178]:
dataset.drop("ZIPCODE", axis=1, inplace=True)

In [179]:
dataset["NUMHHOL2"].value_counts()

No     7879
Yes     506
Name: NUMHHOL2, dtype: int64

In [180]:
dataset["NUMHHOL2"].isnull().sum()

3953

In [181]:
dataset["NUMPHON2"].value_counts()

Residential telephone numbers    328
Residential telephone number     167
Name: NUMPHON2, dtype: int64

In [182]:
dataset["NUMPHON2"].isnull().sum()

11843

In [183]:
dataset.drop("NUMPHON2", axis=1, inplace=True)

In [184]:
dataset["CPDEMO1"].value_counts()

Yes    6737
No     1643
Name: CPDEMO1, dtype: int64

In [185]:
dataset["CPDEMO1"].isnull().sum()

3958

In [186]:
dataset["VETERAN3"].value_counts()

No     11098
Yes     1226
Name: VETERAN3, dtype: int64

In [187]:
dataset["VETERAN3"].isnull().sum()

14

In [188]:
dataset["EMPLOY1"].value_counts()

Employed for wages                  5094
Retired                             3393
Self-employed                       1088
Unable to work                       841
A homemaker                          686
A student                            386
Out of work for 1 year or more       345
Out of work for less than 1 year     326
Name: EMPLOY1, dtype: int64

In [189]:
dataset["CHILDREN"].value_counts()

None                  8898
Number of children    3267
Name: CHILDREN, dtype: int64

In [190]:
dataset["CHILDREN"].isnull().sum()

173

In [191]:
dataset["INCOME2"].value_counts()

$75,000 or more                                     3715
Less than $75,000 ($50,000 to less than $75,000)    1557
Less than $50,000 ($35,000 to less than $50,000)    1226
Less than $35,000 ($25,000 to less than $35,000)    1009
Less than $25,000 ($20,000 to less than $25,000)     870
Less than $20,000 ($15,000 to less than $20,000)     842
Less than $10,000                                    575
Less than $15,000 ($10,000 to less than $15,000)     547
Name: INCOME2, dtype: int64

In [192]:
dataset["INTERNET"].value_counts()

Yes    9489
No     2593
Name: INTERNET, dtype: int64

In [193]:
dataset["INTERNET"].isnull().sum()

256

In [194]:
dataset["WEIGHT2"].value_counts()

Series([], Name: WEIGHT2, dtype: int64)

In [195]:
dataset["WEIGHT2"].isnull().sum()

12338

In [196]:
dataset.drop("WEIGHT2", axis=1, inplace=True)

In [197]:
dataset["HEIGHT3"].value_counts()

Series([], Name: HEIGHT3, dtype: int64)

In [198]:
dataset["HEIGHT3"].isnull().sum()

12338

In [199]:
dataset.drop("HEIGHT3", axis=1, inplace=True)

In [200]:
dataset["PREGNANT"].value_counts()

No     1846
Yes      78
Name: PREGNANT, dtype: int64

In [201]:
dataset["PREGNANT"].isnull().sum()

10414

In [202]:
dataset.drop("PREGNANT" ,axis=1 ,inplace=True)

In [203]:
dataset["QLACTLM2"].value_counts()

No     9081
Yes    2766
Name: QLACTLM2, dtype: int64

In [204]:
dataset["QLACTLM2"].isnull().sum()

491

In [205]:
dataset["USEEQUIP"].value_counts()

No     10448
Yes     1418
Name: USEEQUIP, dtype: int64

In [206]:
dataset["USEEQUIP"].isnull().sum()

472

In [207]:
dataset["BLIND"].value_counts()

No     11273
Yes      543
Name: BLIND, dtype: int64

In [208]:
dataset["BLIND"].isnull().sum()

522

In [209]:
dataset["DECIDE"].value_counts()

No     10786
Yes      997
Name: DECIDE, dtype: int64

In [210]:
dataset["DECIDE"].isnull().sum()

555

In [211]:
dataset["DIFFWALK"].value_counts()

No     9917
Yes    1861
Name: DIFFWALK, dtype: int64

In [212]:
dataset["DIFFWALK"].isnull().sum()

560

In [213]:
dataset["DIFFDRES"].value_counts()

No     11313
Yes      473
Name: DIFFDRES, dtype: int64

In [214]:
dataset["DIFFDRES"].isnull().sum()

552

In [215]:
dataset["DIFFALON"].value_counts()

No     10820
Yes      913
Name: DIFFALON, dtype: int64

In [216]:
dataset["DIFFALON"].isnull().sum()

605

In [217]:
dataset["SMOKE100"].value_counts()

No     6624
Yes    5070
Name: SMOKE100, dtype: int64

In [218]:
dataset["SMOKE100"].isnull().sum()

644

In [219]:
dataset["SMOKDAY2"].value_counts()

Not at all    3472
Every day     1075
Some days      495
Name: SMOKDAY2, dtype: int64

In [220]:
dataset["STOPSMK2"].value_counts()

Yes    926
No     639
Name: STOPSMK2, dtype: int64

In [221]:
dataset["STOPSMK2"].isnull().sum()

10773

In [222]:
dataset.drop("STOPSMK2", axis=1, inplace=True)

In [223]:
dataset["LASTSMK2"].value_counts()

10 years or more                                                  2245
Within the past 5 years (1 year but less than 5 years ago)         397
Within the past 10 years (5 years but less than 10 years ago)      346
Within the past year (6 months but less than 1 year ago)           131
Never smoked regularly                                             108
Within the past month (less than 1 month ago)                       73
Within the past 3 months (1 month but less than 3 months ago)       73
Within the past 6 months (3 months but less than 6 months ago)      71
Name: LASTSMK2, dtype: int64

In [224]:
dataset["USENOW3"].value_counts()

Not at all    11388
Some days       140
Every day        74
Name: USENOW3, dtype: int64

In [225]:
dataset["ALCDAY5"].value_counts()

No drinks in past 30 days    5087
Days in past 30 days         4329
Days per week                2112
Name: ALCDAY5, dtype: int64

In [226]:
dataset["AVEDRNK2"].value_counts()

Number of drinks    6309
Name: AVEDRNK2, dtype: int64

In [227]:
dataset["AVEDRNK2"].isnull().sum()

6029

In [228]:
dataset["DRNK3GE5"].value_counts()

None               4795
Number of Times    1503
Name: DRNK3GE5, dtype: int64

In [229]:
dataset["DRNK3GE5"].isnull().sum()

6040

In [230]:
dataset["MAXDRNKS"].value_counts()

Number of drinks    6183
Name: MAXDRNKS, dtype: int64

In [231]:
dataset["MAXDRNKS"].isnull().sum()

6155

In [232]:
dataset["FRUITJU1"].value_counts()

Never                           4287
Times per day                   2466
Times per month                 2316
Times per week                  1960
Less than one time per month      23
Name: FRUITJU1, dtype: int64

In [233]:
dataset["FRUIT1"].value_counts()

Times per day                   5557
Times per week                  2636
Times per month                 2397
Never                            487
Less than one time per month       1
Name: FRUIT1, dtype: int64

In [234]:
dataset["FVBEANS"].value_counts()

Times per month                 4312
Times per week                  3618
Never                           2351
Times per day                    740
Less than one time per month       7
Name: FVBEANS, dtype: int64

In [235]:
dataset["FVGREEN"].value_counts()

Times per week                  4308
Times per month                 3412
Times per day                   2680
Never                            639
Less than one time per month       3
Name: FVGREEN, dtype: int64

In [236]:
dataset["FVORANG"].value_counts()

Times per month                 4249
Times per week                  4229
Never                           1619
Times per day                    918
Less than one time per month       7
Name: FVORANG, dtype: int64

In [237]:
dataset["VEGETAB1"].value_counts()

Times per week                  3780
Times per day                   3578
Times per month                 3285
Never                            272
Less than one time per month       1
Name: VEGETAB1, dtype: int64

In [238]:
dataset["EXERANY2"].value_counts()

Yes    7837
No     3118
Name: EXERANY2, dtype: int64

In [239]:
dataset["EXERANY2"].isnull().sum()

1383

In [240]:
dataset["EXRACT11"].value_counts()

Walking                                                     4232
Running                                                      623
Weight lifting                                               329
Gardening (spading, weeding, digging, filling)               236
Bicycling machine exercise                                   216
                                                            ...
Hunting small game – quail                                     1
Badminton                                                      1
Squash                                                         1
Active Gaming Devices (Wii Fit, Dance, Dance revolution)       1
Sledding, tobogganing                                          1
Name: EXRACT11, Length: 65, dtype: int64

In [241]:
dataset["EXEROFT1"].value_counts()

Times per week     5440
Times per month    2153
Name: EXEROFT1, dtype: int64

In [242]:
dataset["EXEROFT1"].isnull().sum()

4745

In [243]:
dataset["EXERHMM1"].value_counts()

Hours and Minutes    7604
Name: EXERHMM1, dtype: int64

In [244]:
dataset["EXERHMM1"].isnull().sum()

4734

In [245]:
dataset["EXRACT21"].value_counts()

No other activity                                               2307
Walking                                                         1155
Weight lifting                                                   545
Household Activities (vacuuming, dusting, home repair, etc.)     437
Running                                                          237
                                                                ...
Paddleball                                                         1
Handball                                                           1
Hunting small game – quail                                         1
Squash                                                             1
Mountain climbing                                                  1
Name: EXRACT21, Length: 71, dtype: int64

In [246]:
dataset["EXEROFT2"].value_counts()

Times per week     3432
Times per month    1748
Name: EXEROFT2, dtype: int64

In [247]:
dataset["EXEROFT2"].isnull().sum()

7158

In [248]:
dataset.drop("EXEROFT2", axis=1, inplace=True)

In [249]:
dataset["EXERHMM2"].value_counts()

Hours and Minutes    5169
Name: EXERHMM2, dtype: int64

In [250]:
dataset["EXERHMM2"].isnull().sum()

7169

In [251]:
dataset.drop("EXERHMM2", axis=1, inplace=True)

In [252]:
dataset["STRENGTH"].value_counts()

Never              6317
Times per week     3032
Times per month    1392
Name: STRENGTH, dtype: int64

In [253]:
dataset["LMTJOIN3"].value_counts()

No     1787
Yes    1662
Name: LMTJOIN3, dtype: int64

In [254]:
dataset["LMTJOIN3"].isnull().sum()

8889

In [255]:
dataset.drop("LMTJOIN3", axis=1, inplace=True)

In [256]:
dataset["ARTHDIS2"].value_counts()

No     2392
Yes     958
Name: ARTHDIS2, dtype: int64

In [257]:
dataset["ARTHDIS2"].isnull().sum()

8988

In [258]:
dataset.drop("ARTHDIS2", axis=1, inplace=True)

In [259]:
dataset["ARTHSOCL"].value_counts()

Not at all    1977
A little       858
A lot          599
Name: ARTHSOCL, dtype: int64

In [260]:
dataset["ARTHSOCL"].isnull().sum()

8904

In [261]:
dataset.drop("ARTHSOCL", axis=1, inplace=True)

In [262]:
dataset["JOINPAIN"].value_counts()

Enter number [0-10]    2943
Name: JOINPAIN, dtype: int64

In [263]:
dataset["JOINPAIN"].isnull().sum()

9395

In [264]:
dataset.drop("JOINPAIN", axis=1, inplace=True)

In [265]:
dataset["SEATBELT"].value_counts()

Always                          9523
Nearly always                    615
Sometimes                        274
Never                            188
Never drive or ride in a car     101
Seldom                            96
Name: SEATBELT, dtype: int64

In [266]:
dataset["SEATBELT"].isnull().sum()

1541

In [267]:
dataset["FLUSHOT6"].value_counts()

No     5604
Yes    5163
Name: FLUSHOT6, dtype: int64

In [268]:
dataset["FLUSHOT6"].isnull().sum()

1571

In [269]:
dataset["FLSHTMY2"].value_counts()

Month / Year    4897
Name: FLSHTMY2, dtype: int64

In [270]:
dataset["FLSHTMY2"].isnull().sum()

7441

In [271]:
dataset.drop("FLSHTMY2", axis=1, inplace=True)

In [272]:
dataset["IMFVPLAC"].value_counts()

A doctor´s office or health maintenance organization (HMO)                      2445
A store (Examples: supermarket, drug store)                                     1148
Workplace                                                                        652
Another type of clinic or health center (Example: a community health center)     332
A hospital (Example: inpatient)                                                  328
Some other kind of place                                                          94
A senior, recreation, or community center                                         53
A health department                                                               48
A school                                                                          28
An emergency room                                                                  5
Received vaccination in Canada/Mexico (Volunteered – Do not read)                  2
Name: IMFVPLAC, dtype: int64

In [273]:
dataset["IMFVPLAC"].isnull().sum()

7203

In [274]:
dataset.drop("IMFVPLAC", axis=1, inplace=True)

In [275]:
dataset["PNEUVAC3"].value_counts()

No     5799
Yes    4058
Name: PNEUVAC3, dtype: int64

In [276]:
dataset["PNEUVAC3"].isnull().sum()

2481

In [277]:
dataset["HIVTST6"].value_counts()

No     6190
Yes    4292
Name: HIVTST6, dtype: int64

In [278]:
dataset["HIVTST6"].isnull().sum()

1856

In [279]:
dataset["HIVTSTD3"].value_counts()

Code month and year             2713
Unknown month and known year     935
Name: HIVTSTD3, dtype: int64

In [280]:
dataset["HIVTSTD3"].isnull().sum()

8690

In [281]:
dataset.drop("HIVTSTD3", axis=1, inplace=True)

In [282]:
dataset["WHRTST10"].value_counts()

Private doctor or HMO                              2200
Clinic                                              779
Hospital inpatient                                  411
Somewhere else                                      319
Emergency room                                      173
Counseling and testing site                         147
At home                                             125
Jail or prison (or other correctional facility)      36
Drug treatment facility                              14
Name: WHRTST10, dtype: int64

In [283]:
dataset["WHRTST10"].isnull().sum()

8134

In [284]:
dataset.drop("WHRTST10", axis=1, inplace=True)

In [285]:
dataset["PDIABTST"].value_counts()

Yes    3214
No     1769
Name: PDIABTST, dtype: int64

In [286]:
dataset["PDIABTST"].isnull().sum()

7355

In [287]:
dataset.drop("PDIABTST", axis=1, inplace=True)

In [288]:
dataset["PREDIAB1"].value_counts()

No                       4671
Yes                       503
Yes, during pregnancy      44
Name: PREDIAB1, dtype: int64

In [289]:
dataset["PREDIAB1"].isnull().sum()

7120

In [290]:
dataset.drop("PREDIAB1", axis=1, inplace=True)

In [291]:
dataset["INSULIN"].value_counts()

No     500
Yes    209
Name: INSULIN, dtype: int64

In [292]:
dataset["INSULIN"].isnull().sum()

11629

In [293]:
dataset.drop("INSULIN", axis=1, inplace=True)

In [294]:
dataset["BLDSUGAR"].value_counts()

Times per day      443
Never              120
Times per week      98
Times per month     30
Times per year      13
Name: BLDSUGAR, dtype: int64

In [295]:
dataset["BLDSUGAR"].isnull().sum()

11634

In [296]:
dataset.drop("BLDSUGAR", axis=1, inplace=True)

In [297]:
dataset["FEETCHK2"].value_counts()

Times per day      382
Never              118
Times per week     112
Times per month     47
Times per year      19
No feet              5
Name: FEETCHK2, dtype: int64

In [298]:
dataset["FEETCHK2"].isnull().sum()

11655

In [299]:
dataset.drop("FEETCHK2", axis=1, inplace=True)

In [300]:
dataset["DOCTDIAB"].value_counts()

Number of times  [76=76 or more]    612
None                                 57
Name: DOCTDIAB, dtype: int64

In [301]:
dataset["DOCTDIAB"].isnull().sum()

11669

In [302]:
dataset.drop("DOCTDIAB", axis=1, inplace=True)

In [303]:
dataset["CHKHEMO3"].value_counts()

Number of times  [76=76 or more]    591
None                                 41
Name: CHKHEMO3, dtype: int64

In [304]:
dataset.drop("CHKHEMO3", axis=1, inplace=True)

In [305]:
dataset["FEETCHK"].value_counts()

Number of times  [76=76 or more]    524
None                                155
Name: FEETCHK, dtype: int64

In [306]:
dataset.drop("FEETCHK", axis=1, inplace=True)

In [307]:
dataset["EYEEXAM"].value_counts()

Within the past year (1 month but less than 12 months ago)    374
Within the past month (anytime less than 1 month ago)         143
Within the past 2 years (1 year but less than 2 years ago)     88
2 or more years ago                                            65
Never                                                          27
Name: EYEEXAM, dtype: int64

In [308]:
dataset["EYEEXAM"].isnull().sum()

11641

In [309]:
dataset.drop("EYEEXAM", axis=1, inplace=True)

In [310]:
dataset["DIABEYE"].value_counts()

No     554
Yes    146
Name: DIABEYE, dtype: int64

In [311]:
dataset.drop("DIABEYE", axis=1, inplace=True)

In [312]:
dataset["DIABEDU"].value_counts()

No     399
Yes    305
Name: DIABEDU, dtype: int64

In [313]:
dataset.drop("DIABEDU", axis=1, inplace=True)

In [314]:
dataset["CAREGIV1"].value_counts()

No                                           4054
Yes                                          1073
Caregiving recipient died in past 30 days      12
Name: CAREGIV1, dtype: int64

In [315]:
dataset["CAREGIV1"].isnull().sum()

7199

In [316]:
dataset.drop("CAREGIV1", axis=1, inplace=True)

In [317]:
dataset["CRGVREL1"].value_counts()

Mother                        266
Non-relative/Family friend    214
Father                         88
Husband                        88
Child                          83
Other relative                 77
Wife                           65
Mother-in-law                  41
Brother or brother-in-law      37
Sister or sister-in-law        34
Grandmother                    30
Father-in-law                  18
Grandfather                    12
Grandchild                      7
Same-sex partner                2
Name: CRGVREL1, dtype: int64

In [318]:
dataset["CRGVREL1"].isnull().sum()

11276

In [319]:
dataset.drop("CRGVREL1", axis=1, inplace=True)

In [320]:
dataset["CRGVLNG1"].value_counts()

More than 5 years                307
2 years to less than 5 years     213
Less than 30 days                194
6 months to less than 2 years    189
1 month to less than 6 months    142
Name: CRGVLNG1, dtype: int64

In [321]:
dataset["CRGVLNG1"].isnull().sum()

11293

In [322]:
dataset.drop("CRGVLNG1", axis=1, inplace=True)

In [323]:
dataset["CRGVHRS1"].value_counts()

Up to 8 hours per week     635
40 hours or more           148
9 to 19 hours per week     137
20 to 39 hours per week     91
Name: CRGVHRS1, dtype: int64

In [324]:
dataset["CRGVHRS1"].isnull().sum()

11327

In [325]:
dataset.drop("CRGVHRS1", axis=1, inplace=True)

In [326]:
dataset["CRGVPRB1"].value_counts()

Other                                                                           413
Dementia and other Cognitive Impairment Disorders                               111
Heart Disease, Hypertension                                                      97
Cancer                                                                           94
Arthritis/Rheumatism                                                             81
Diabetes                                                                         58
Mental Illnesses, such as Anxiety, Depression, or Schizophrenia                  42
Developmental Disabilities such as Autism, Down's Syndrome, and Spina Bifida     38
Chronic respiratory conditions such as Emphysema or COPD                         36
Other organ failure or diseases such as kidney or liver problems                 23
Substance Abuse or Addiction Disorders                                            5
Asthma                                                                            4
Human Immunodeficiency Virus Infection (HIV)                                      3
Name: CRGVPRB1, dtype: int64

In [327]:
dataset["CRGVPRB1"].isnull().sum()

11333

In [328]:
dataset.drop("CRGVPRB1", axis=1, inplace=True)

In [329]:
dataset["CRGVPERS"].value_counts()

No     546
Yes    511
Name: CRGVPERS, dtype: int64

In [330]:
dataset.drop("CRGVPERS", axis=1, inplace=True)

In [331]:
dataset["CRGVHOUS"].value_counts()

Yes    822
No     233
Name: CRGVHOUS, dtype: int64

In [332]:
dataset.drop("CRGVHOUS", axis=1, inplace=True)

In [333]:
dataset["CRGVMST2"].value_counts()

You don't need any of these support services             837
Help in getting access to services                       103
Support groups                                            35
Individual counseling to help cope with giving care       22
Classes about giving care, such as giving medications     16
Respite care                                              16
Name: CRGVMST2, dtype: int64

In [334]:
dataset.drop("CRGVMST2", axis=1, inplace=True)

In [335]:
dataset["CRGVEXPT"].value_counts()

No     3109
Yes     754
Name: CRGVEXPT, dtype: int64

In [336]:
dataset["CRGVEXPT"].isnull().sum()

8475

In [337]:
dataset.drop("CRGVEXPT", axis=1, inplace=True)

In [338]:
dataset["CIMEMLOS"].value_counts()

No     3398
Yes     403
Name: CIMEMLOS, dtype: int64

In [339]:
dataset["CIMEMLOS"].isnull().sum()

8537

In [340]:
dataset.drop("CIMEMLOS", axis=1, inplace=True)

In [341]:
dataset["CDHOUSE"].value_counts()

Never        195
Sometimes     97
Rarely        59
Always        27
Usually       25
Name: CDHOUSE, dtype: int64

In [342]:
dataset.drop("CDHOUSE", axis=1, inplace=True)

In [343]:
dataset["CDASSIST"].value_counts()

Never        236
Sometimes     90
Rarely        41
Usually       21
Always        18
Name: CDASSIST, dtype: int64

In [344]:
dataset.drop("CDASSIST", axis=1, inplace=True)

In [345]:
dataset["CDHELP"].value_counts()

Always       35
Sometimes    33
Usually      28
Rarely       17
Never        12
Name: CDHELP, dtype: int64

In [346]:
dataset.drop("CDHELP", axis=1, inplace=True)

In [347]:
dataset["CDSOCIAL"].value_counts()

Never        207
Rarely        77
Sometimes     60
Always        36
Usually       21
Name: CDSOCIAL, dtype: int64

In [348]:
dataset.drop("CDSOCIAL", axis=1, inplace=True)

In [349]:
dataset["CDDISCUS"].value_counts()

No     226
Yes    183
Name: CDDISCUS, dtype: int64

In [350]:
dataset.drop("CDDISCUS", axis=1, inplace=True)

In [351]:
dataset["ARTTODAY"].value_counts()

I can do most things I would like to do        745
I can do everything I would like to do         388
I can do some things I would like to do        388
I can hardly do anything I would like to do    116
Don´t know/Not Sure                              4
Name: ARTTODAY, dtype: int64

In [352]:
dataset.drop("ARTTODAY", axis=1, inplace=True)

In [353]:
dataset["ARTHWGT"].value_counts()

No                     973
Yes                    663
Don´t know/Not Sure      2
Name: ARTHWGT, dtype: int64

In [354]:
dataset.drop("ARTHWGT", axis=1, inplace=True)

In [355]:
dataset["ARTHEXER"].value_counts()

Yes                    1028
No                      603
Don´t know/Not Sure       5
Name: ARTHEXER, dtype: int64

In [356]:
dataset.drop("ARTHEXER", axis=1, inplace=True)

In [357]:
dataset["ARTHEDU"].value_counts()

No                     1447
Yes                     189
Don´t know/Not Sure       3
Name: ARTHEDU, dtype: int64

In [358]:
dataset.drop("ARTHEDU", axis=1, inplace=True)

In [359]:
dataset["BLDSTOOL"].value_counts()

No     2317
Yes    1067
Name: BLDSTOOL, dtype: int64

In [360]:
dataset["BLDSTOOL"].isnull().sum()

8954

In [361]:
dataset.drop("BLDSTOOL", axis=1, inplace=True)

In [362]:
dataset["LSTBLDS3"].value_counts()

5 or more years ago                                            393
Within the past year (anytime less than 12 months ago)         275
Within the past 2 years (1 year but less than 2 years ago)     146
Within the past 5 years (3 years but less than 5 years ago)    132
Within the past 3 years (2 years but less than 3 years ago)    102
Name: LSTBLDS3, dtype: int64

In [363]:
dataset.drop("LSTBLDS3", axis=1, inplace=True)

In [364]:
dataset["HADSIGM3"].value_counts()

Yes    2571
No      827
Name: HADSIGM3, dtype: int64

In [365]:
dataset["HADSIGM3"].isnull().sum()

8940

In [366]:
dataset.drop("HADSIGM3", axis=1, inplace=True)

In [367]:
dataset["HADSGCO1"].value_counts()

Colonoscopy      2428
Sigmoidoscopy      64
Name: HADSGCO1, dtype: int64

In [368]:
dataset.drop("HADSGCO1", axis=1, inplace=True)

In [369]:
dataset["LASTSIG3"].value_counts()

Within the past 5 years (3 years but less than 5 years ago)      588
Within the past year (anytime less than 12 months ago)           559
Within the past 10 years (5 years but less than 10 years ago)    451
Within the past 3 years (2 years but less than 3 years ago)      396
Within the past 2 years (1 year but less than 2 years ago)       394
10 or more years ago                                             155
Name: LASTSIG3, dtype: int64

In [370]:
dataset["LASTSIG3"].isnull().sum()

9795

In [371]:
dataset.drop("LASTSIG3", axis=1, inplace=True)

In [372]:
dataset["TYPEWORK"].value_counts()

Series([], Name: TYPEWORK, dtype: int64)

In [373]:
dataset["TYPEWORK"].isnull().sum()

12338

In [374]:
dataset.drop("TYPEWORK",axis=1, inplace=True)

In [375]:
dataset["TYPEINDS"].value_counts()

Series([], Name: TYPEINDS, dtype: int64)

In [376]:
dataset["TYPEINDS"].isnull().sum()

12338

In [377]:
dataset.drop("TYPEINDS", axis=1, inplace=True)

In [378]:
dataset["SXORIENT"].value_counts()

Straight          9328
Lesbian or gay     193
Bisexual           174
Other               45
Name: SXORIENT, dtype: int64

In [379]:
dataset["SXORIENT"].isnull().sum()

2598

In [380]:
dataset["TRNSGNDR"].value_counts()

Series([], Name: TRNSGNDR, dtype: int64)

In [381]:
dataset["TRNSGNDR"].isnull().sum()

12338

In [382]:
dataset.drop("TRNSGNDR", axis=1, inplace=True)

In [383]:
dataset["RCSBIRTH"].value_counts()

Series([], Name: RCSBIRTH, dtype: int64)

In [384]:
dataset["RCSBIRTH"].isnull().sum()

12338

In [385]:
dataset.drop("RCSBIRTH", axis=1, inplace=True)

In [386]:
dataset["RCSGENDR"].value_counts()

Boy     675
Girl    561
Name: RCSGENDR, dtype: int64

In [387]:
dataset.drop("RCSGENDR", axis=1, inplace=True)

In [388]:
dataset["RCHISLA1"].value_counts()

Series([], Name: RCHISLA1, dtype: int64)

In [389]:
dataset["RCHISLA1"].isnull().sum()

12338

In [390]:
dataset.drop("RCHISLA1", axis=1, inplace=True)

In [391]:
dataset["RCSRACE1"].value_counts()

Series([], Name: RCSRACE1, dtype: int64)

In [392]:
dataset["RCSRACE1"].isnull().sum()

12338

In [393]:
dataset.drop("RCSRACE1", axis=1, inplace=True)

In [394]:
dataset["RCSBRAC2"].value_counts()

Series([], Name: RCSBRAC2, dtype: int64)

In [395]:
dataset.drop("RCSBRAC2", axis=1, inplace=True)

In [396]:
dataset["RCSRLTN2"].value_counts()

Parent (include biologic, step, or adoptive parent)       1004
Grandparent                                                 89
Sibling (include biologic, step, and adoptive sibling)      64
Other relative                                              30
Foster parent or guardian                                   26
Not related in any way                                      23
Name: RCSRLTN2, dtype: int64

In [397]:
dataset["RCSRLTN2"].isnull().sum()

11102

In [398]:
dataset.drop("RCSRLTN2", axis=1, inplace=True)

In [399]:
dataset["CASTHDX2"].value_counts()

No     1044
Yes     176
Name: CASTHDX2, dtype: int64

In [400]:
dataset.drop("CASTHDX2", axis=1, inplace=True)

In [401]:
dataset["CASTHNO2"].value_counts()

Yes    112
No      57
Name: CASTHNO2, dtype: int64

In [402]:
dataset.drop("CASTHNO2", axis=1, inplace=True)

In [403]:
dataset["ADHISPA"].value_counts()

Series([], Name: ADHISPA, dtype: int64)

In [404]:
dataset.drop("ADHISPA", axis=1, inplace=True)

In [405]:
dataset["CHHISPA"].value_counts()

Series([], Name: CHHISPA, dtype: int64)

In [406]:
dataset.drop("CHHISPA", axis=1, inplace=True)

In [407]:
dataset["QSTVER"].value_counts()

Questionnaire version A landline                4240
Questionnaire version B landline                4178
Questionnaire version B cellphone               1767
Questionnaire version A cellphone               1704
Core only cellphone (collected out of state)     449
Name: QSTVER, dtype: int64

In [408]:
dataset["QSTVER"].isnull().sum()

0

In [409]:
dataset["QSTLANG"].value_counts()

English    11592
Spanish      746
Name: QSTLANG, dtype: int64

In [410]:
dataset["QSTLANG"].isnull().sum()

0

In [411]:
dataset["EXACTOT1"].value_counts()

Stretching          9
Physical therapy    8
Treadmill           7
Physical Therapy    4
Pushups             4
                   ..
Snowboarding        1
Cardio mixture      1
Skipping            1
Balancing           1
object with boat    1
Name: EXACTOT1, Length: 93, dtype: int64

In [412]:
dataset["EXACTOT1"].isnull().sum()

12208

In [413]:
dataset["EXACTOT2"].value_counts()

Stretching             26
Sex                    19
Physical Therapy        4
Physical therapy        3
Sit-ups                 3
                       ..
Dog agility sprints     1
Meditation              1
Strength Lifting        1
Hula-hoop               1
Snowmobiling            1
Name: EXACTOT2, Length: 128, dtype: int64

In [414]:
dataset["EXACTOT2"].isnull().sum()

12142

In [415]:
dataset["_MSACODE"].value_counts()

Series([], Name: _MSACODE, dtype: int64)

In [416]:
dataset.drop("_MSACODE", axis=1, inplace=True)

In [417]:
dataset["MSCODE"].value_counts()

Series([], Name: MSCODE, dtype: int64)

In [418]:
dataset.drop("MSCODE", axis=1, inplace=True)

In [419]:
dataset["_STSTR"].value_counts()

361071    2167
362079    1467
361072     803
361041     687
361011     663
361061     646
361021     643
361051     624
361081     614
361031     609
362049     454
362059     393
362089     341
361042     338
362069     332
362029     323
362019     309
362039     301
361052     243
361012      84
361032      82
361022      79
361082      74
361062      62
Name: _STSTR, dtype: int64

In [420]:
dataset["_STSTR"].isnull().sum()

0

In [421]:
dataset["_STRWT"].value_counts()

49.891968     2167
541.228186    1467
74.843348      803
68.207835      687
41.346566      663
42.993239      646
68.231492      643
74.592399      624
69.129716      614
55.183780      609
452.331980     454
444.056711     393
362.390015     341
102.302136     338
196.349347     332
406.437069     323
290.635397     309
436.510631     301
111.865760     243
62.023653       84
82.827335       82
102.420849      79
103.676952      74
64.439632       62
Name: _STRWT, dtype: int64

In [422]:
dataset["_STRWT"].isnull().sum()

0

In [423]:
dataset["_RAW"].value_counts()

2.000000    3583
1.000000    3476
3.000000     772
4.000000     325
5.000000      83
0.500000      76
1.500000      31
6.000000      20
0.666667      19
0.333333       8
2.500000       7
0.400000       3
8.000000       2
1.333333       2
7.000000       2
2.333333       1
0.166667       1
0.200000       1
Name: _RAW, dtype: int64

In [424]:
dataset["_RAW"].isnull().sum()

3926

In [425]:
dataset["_WT2"].value_counts()

541.228186    1467
49.891968     1013
99.783935      801
452.331980     454
444.056711     393
              ...
523.903438       1
331.102683       1
31.011827        1
66.522624        1
818.417090       1
Name: _WT2, Length: 147, dtype: int64

In [426]:
dataset["_WT2"].isnull().sum()

6

In [427]:
dataset["_RAWRAKE"].value_counts()

1.000000    7395
2.000000    3583
3.000000     772
4.000000     325
5.000000     113
0.500000      73
1.500000      31
0.666667      24
0.333333      10
2.500000       7
1.333333       3
1.666667       2
Name: _RAWRAKE, dtype: int64

In [428]:
dataset["_RAWRAKE"].isnull().sum()

0

In [429]:
dataset["_WT2RAKE"].value_counts()

541.228186    1468
49.891968     1012
99.783935      801
452.331980     454
444.056711     391
              ...
66.522624        1
409.683398       1
51.210425        1
414.707807       1
34.100712        1
Name: _WT2RAKE, Length: 135, dtype: int64

In [430]:
dataset["_WT2RAKE"].isnull().sum()

0

In [431]:
dataset["_REGION"].value_counts()

7    4373
4    1479
5    1272
2    1067
1    1064
8    1047
6    1033
3    1003
Name: _REGION, dtype: int64

In [432]:
dataset["_REGION"].isnull().sum()

0

In [433]:
dataset["_IMPAGE"].value_counts()

Age 65 or older    4032
Age 55 to 64       2675
Age 45 to 54       2209
Age 35 to 44       1490
Age 25 to 34       1275
Age 18 to 24        657
Name: _IMPAGE, dtype: int64

In [434]:
dataset["_IMPAGE"].isnull().sum()

0

In [435]:
dataset["_IMPRACE"].value_counts()

Series([], Name: _IMPRACE, dtype: int64)

In [436]:
dataset.drop("_IMPRACE", axis=1, inplace=True)

In [437]:
dataset["_IMPNPH"].value_counts()

Number of phones    8090
Name: _IMPNPH, dtype: int64

In [438]:
dataset["_IMPNPH"].isnull().sum()

4248

In [439]:
dataset["_IMPEDUC"].value_counts()

College 4 years or more (College graduate)                      5310
Grade 12 or GED (High school graduate)                          2997
College 1 year to 3 years (Some college or technical school)    2909
Grades 9 through 11 (Some high school)                           657
Grades 1 through 8 (Elementary)                                  443
Never attended school or only kindergarten                        22
Name: _IMPEDUC, dtype: int64

In [440]:
dataset["_IMPEDUC"].isnull().sum()

0

In [441]:
dataset["_IMPMRTL"].value_counts()

Married                            5823
Never married                      2569
Divorced                           1586
Widowed                            1517
Separated                           431
A member of an unmarried couple     412
Name: _IMPMRTL, dtype: int64

In [442]:
dataset["_IMPMRTL"].isnull().sum()

0

In [443]:
dataset["_IMPHOME"].value_counts()

Own                  7306
Rent                 4577
Other arrangement     455
Name: _IMPHOME, dtype: int64

In [444]:
dataset["_IMPHOME"].isnull().sum()

0

In [445]:
dataset["O_STATE"].value_counts()

New York          11889
Connecticut          83
Massachusetts        51
New Jersey           45
California           29
Pennsylvania         22
Colorado             16
South Carolina       16
Kansas               13
Washington           11
Florida              10
Hawaii               10
Virginia              9
New Hampshire         8
Delaware              8
North Carolina        7
West Virginia         7
Utah                  7
Puerto Rico           7
Ohio                  6
Missouri              6
Illinois              6
Nebraska              6
New Mexico            5
Oregon                5
Rhode Island          5
Maryland              5
Michigan              5
Texas                 4
Maine                 4
Kentucky              4
Indiana               4
Alabama               3
Nevada                2
North Dakota          2
Wisconsin             2
Arizona               2
Alaska                2
South Dakota          2
Georgia               2
Arkansas              1
Idaho                 1
Tennessee             1
Wyoming               1
Iowa                  1
Mississippi           1
Montana               1
Guam                  1
Name: O_STATE, dtype: int64

In [446]:
dataset["O_STATE"].isnull().sum()

0

In [447]:
dataset["_CHISPNC"].value_counts()

Series([], Name: _CHISPNC, dtype: int64)

In [448]:
dataset["_CHISPNC"].isnull().sum()

12338

In [449]:
dataset.drop("_CHISPNC", axis=1, inplace=True)

In [450]:
dataset["_CRACE1"].value_counts()

Series([], Name: _CRACE1, dtype: int64)

In [451]:
dataset.drop("_CRACE1", axis=1, inplace=True)

In [452]:
dataset["_CPRACE"].value_counts()

Series([], Name: _CPRACE, dtype: int64)

In [453]:
dataset.drop("_CPRACE", axis=1, inplace=True)

In [454]:
dataset["_IMPCAGE"].value_counts()

Series([], Name: _IMPCAGE, dtype: int64)

In [455]:
dataset.drop("_IMPCAGE", axis=1, inplace=True)

In [456]:
dataset["_IMPCRAC"].value_counts()

Series([], Name: _IMPCRAC, dtype: int64)

In [457]:
dataset.drop("_IMPCRAC", axis=1, inplace=True)

In [458]:
dataset["_IMPCSEX"].value_counts()

Male      709
Female    562
Name: _IMPCSEX, dtype: int64

In [459]:
dataset.drop("_IMPCSEX", axis=1, inplace=True)

In [460]:
dataset["_RAWCH"].value_counts()

1.000000    429
2.000000    305
0.333333    192
0.666667    167
3.000000    161
0.500000     11
1.500000      6
Name: _RAWCH, dtype: int64

In [461]:
dataset["_RAWCH"].isnull().sum()

11067

In [462]:
dataset.drop("_RAWCH", axis=1, inplace=True)

In [463]:
dataset["_WT2CH"].value_counts()

49.891968     83
99.783935     75
180.409395    66
360.818791    65
74.843348     54
              ..
16.630656      1
37.296199      1
24.947783      1
111.888598     1
102.311752     1
Name: _WT2CH, Length: 84, dtype: int64

In [464]:
dataset["_WT2CH"].isnull().sum()

11067

In [465]:
dataset.drop("_WT2CH", axis=1, inplace=True)

In [466]:
dataset["_CLCM1V1"].value_counts()

2.0    227
3.0    191
7.0    180
4.0    159
5.0    134
6.0    132
1.0    132
8.0    116
Name: _CLCM1V1, dtype: int64

In [467]:
dataset["_CLCM1V1"].isnull().sum()

11067

In [468]:
dataset.drop("_CLCM1V1", axis=1, inplace=True)

In [469]:
dataset["_CLCM2V1"].value_counts()

1.0    707
3.0    276
2.0    147
4.0    141
Name: _CLCM2V1, dtype: int64

In [470]:
dataset.drop("_CLCM2V1", axis=1, inplace=True)

In [471]:
dataset["_CLCM3V1"].value_counts()

1.0    412
5.0    295
3.0    139
6.0    137
7.0    130
4.0     85
2.0     73
Name: _CLCM3V1, dtype: int64

In [472]:
dataset.drop("_CLCM3V1", axis=1, inplace=True)

In [473]:
dataset["_CLCM4V1"].value_counts()

9.0     378
5.0     188
1.0     141
10.0    140
11.0    128
7.0      79
3.0      57
6.0      52
8.0      40
4.0      38
2.0      30
Name: _CLCM4V1, dtype: int64

In [474]:
dataset["_CLCM4V1"].isnull().sum()

11067

In [475]:
dataset.drop("_CLCM4V1", axis=1, inplace=True)

In [476]:
dataset["_CLCM5V1"].value_counts()

3.0    926
1.0    236
2.0    109
Name: _CLCM5V1, dtype: int64

In [477]:
dataset.drop("_CLCM5V1", axis=1, inplace=True)

In [478]:
dataset["_CLCWTV1"].value_counts()

1646.421811    10
2250.840615     8
4063.501917     6
2871.194566     6
1453.516563     6
               ..
7576.546221     1
426.823796      1
1875.725179     1
1336.921869     1
2138.996632     1
Name: _CLCWTV1, Length: 816, dtype: int64

In [479]:
dataset["_CLCWTV1"].isnull().sum()

11067

In [480]:
dataset.drop("_CLCWTV1", axis=1, inplace=True)

In [481]:
dataset["_DUALUSE"].value_counts()

Land Line: Cell Phone Mostly     6737
No Dual Phone Use                3870
Cell Phone: Cell Phone Mostly    1731
Name: _DUALUSE, dtype: int64

In [482]:
dataset["_DUALUSE"].isnull().sum()

0

In [483]:
dataset["_DUALCOR"].value_counts()

0.753933    6737
0.246067    1731
Name: _DUALCOR, dtype: int64

In [484]:
dataset["_DUALCOR"].isnull().sum()

3870

In [485]:
dataset["_LLCPM01"].value_counts()

12    1583
11    1292
13    1291
5     1092
14    1092
6      955
4      917
10     879
9      694
7      694
3      611
2      581
1      349
8      308
Name: _LLCPM01, dtype: int64

In [486]:
dataset["_LLCPM01"].isnull().sum()

0

In [487]:
dataset["_LLCPM02"].value_counts()

1    8713
4    1503
2    1333
3     505
5     284
Name: _LLCPM02, dtype: int64

In [488]:
dataset["_LLCPM02"].isnull().sum()

0

In [489]:
dataset["_LLCPM03"].value_counts()

4    5310
2    2997
3    2909
1    1122
Name: _LLCPM03, dtype: int64

In [490]:
dataset["_LLCPM03"].isnull().sum()

0

In [491]:
dataset["_LLCPM04"].value_counts()

1    5823
3    3534
2    2981
Name: _LLCPM04, dtype: int64

In [492]:
dataset["_LLCPM04"].isnull().sum()

0

In [493]:
dataset["_LLCPM05"].value_counts()

1    7306
2    5032
Name: _LLCPM05, dtype: int64

In [494]:
dataset["_LLCPM05"].isnull().sum()

0

In [495]:
dataset["_LLCPM06"].value_counts()

5    4998
1    3715
7     913
6     834
3     590
2     499
4     395
8     394
Name: _LLCPM06, dtype: int64

In [496]:
dataset["_LLCPM06"].isnull().sum()

0

In [497]:
dataset["_LLCPM07"].value_counts()

8     5414
4     2283
1     1016
10     718
6      607
9      575
5      507
3      489
2      427
7      302
Name: _LLCPM07, dtype: int64

In [498]:
dataset["_LLCPM07"].isnull().sum()

0

In [499]:
dataset["_LLCPM08"].value_counts()

3    8468
1    2189
2    1681
Name: _LLCPM08, dtype: int64

In [500]:
dataset["_LLCPM08"].isnull().sum()

0

In [501]:
dataset["_LLCPM09"].value_counts()

7    4373
4    1479
5    1272
2    1067
1    1064
8    1047
6    1033
3    1003
Name: _LLCPM09, dtype: int64

In [502]:
dataset["_LLCPM09"].isnull().sum()

0

In [503]:
dataset["_LLCPM10"].value_counts()

45    839
44    753
46    675
42    651
43    647
47    543
23    315
24    301
31    279
41    265
11    264
25    260
52    258
30    256
3     255
38    249
32    234
4     231
16    230
17    230
26    218
12    209
39    206
53    201
10    195
22    188
2     187
54    186
18    184
37    178
33    174
51    173
13    165
40    159
5     157
15    152
29    147
6     130
21    124
28    118
36    114
19    114
1     104
50    103
9      94
14     93
8      83
20     73
35     73
49     68
27     64
48     58
7      57
34     54
Name: _LLCPM10, dtype: int64

In [504]:
dataset["_LLCPM10"].isnull().sum()

0

In [505]:
dataset["_LLCPM11"].isnull().sum()

0

In [506]:
dataset["_LLCPM12"].value_counts()

18    1997
8     1115
21    1029
3      971
12     949
16     947
1      945
23     922
19     912
5      867
20     312
10     180
14     157
22     123
2      119
13     106
4       96
11      93
9       91
17      86
6       77
25      63
24      62
15      60
7       59
Name: _LLCPM12, dtype: int64

In [507]:
dataset["_LLCPM12"].isnull().sum()

0

In [508]:
dataset["_LLCPM13"].value_counts()

10    5073
3     1228
6     1188
7      995
8      793
1      729
5      686
2      596
4      528
9      522
Name: _LLCPM13, dtype: int64

In [509]:
dataset["_LLCPM13"].isnull().sum()

0

In [510]:
dataset["_LLCPM14"].value_counts()

30    4502
16     727
24     628
6      579
4      501
12     487
10     422
20     399
2      350
7      348
27     344
18     228
1      220
22     214
8      204
33     202
21     194
23     188
31     173
3      159
17     131
34     114
11     106
25     104
19     102
9       97
5       95
28      92
29      86
32      82
14      76
15      66
26      61
13      57
Name: _LLCPM14, dtype: int64

In [511]:
dataset["_LLCPM14"].isnull().sum()

0

In [512]:
dataset["_LLCPM15"].value_counts()

62    1212
63    1039
61     907
64     772
60     516
      ...
52      68
25      65
7       55
20      53
39      50
Name: _LLCPM15, Length: 64, dtype: int64

In [513]:
dataset["_LLCPM15"].isnull().sum()

0

In [514]:
dataset["_LLCPM16"].isnull().sum()

0

In [515]:
dataset["_LLCPWT"].value_counts()

1638.192812    23
276.261576     22
2042.167778    20
2117.541967    20
515.501238     19
               ..
1863.469800     1
2470.578697     1
769.150996      1
810.620438      1
1732.932094     1
Name: _LLCPWT, Length: 8642, dtype: int64

In [516]:
dataset["_LLCPWT"].isnull().sum()

0

In [517]:
dataset["_LCM01V1"].value_counts()

12.0    757
13.0    650
11.0    641
14.0    564
5.0     549
6.0     469
4.0     461
10.0    398
7.0     364
9.0     302
3.0     294
2.0     216
8.0     140
1.0     139
Name: _LCM01V1, dtype: int64

In [518]:
dataset["_LCM01V1"].isnull().sum()

6394

In [519]:
dataset.drop("_LCM01V1", axis=1, inplace=True)

In [520]:
dataset["_LCM02V1"].value_counts()

1.0    4187
3.0     743
2.0     651
4.0     363
Name: _LCM02V1, dtype: int64

In [521]:
dataset["_LCM02V1"].isnull().sum()

6394

In [522]:
dataset.drop("_LCM02V1", axis=1, inplace=True)

In [523]:
dataset["_LCM03V1"].value_counts()

4.0    2513
2.0    1486
3.0    1368
1.0     577
Name: _LCM03V1, dtype: int64

In [524]:
dataset["_LCM03V1"].isnull().sum()

6394

In [525]:
dataset.drop("_LCM03V1", axis=1, inplace=True)

In [526]:
dataset["_LCM04V1"].value_counts()

1.0    2832
3.0    1792
2.0    1320
Name: _LCM04V1, dtype: int64

In [527]:
dataset["_LCM04V1"].isnull().sum()

6394

In [528]:
dataset.drop("_LCM04V1", axis=1, inplace=True)

In [529]:
dataset["_LCM05V1"].value_counts()

1.0    3602
2.0    2342
Name: _LCM05V1, dtype: int64

In [530]:
dataset["_LCM05V1"].isnull().sum()

6394

In [531]:
dataset.drop("_LCM05V1", axis=1, inplace=True)

In [532]:
dataset["_LCM06V1"].value_counts()

5.0    2405
1.0    1782
7.0     461
6.0     407
3.0     282
2.0     244
4.0     184
8.0     179
Name: _LCM06V1, dtype: int64

In [533]:
dataset["_LCM06V1"].isnull().sum()

6394

In [534]:
dataset.drop("_LCM06V1", axis=1, inplace=True)

In [535]:
dataset["_LCM07V1"].value_counts()

9.0     2705
5.0     1094
1.0      388
11.0     369
7.0      313
10.0     279
6.0      262
3.0      191
8.0      125
2.0      110
4.0      108
Name: _LCM07V1, dtype: int64

In [536]:
dataset["_LCM07V1"].isnull().sum()

6394

In [537]:
dataset.drop("_LCM07V1", axis=1, inplace=True)

In [538]:
dataset["_LCM08V1"].value_counts()

3.0    3382
1.0    1704
2.0     858
Name: _LCM08V1, dtype: int64

In [539]:
dataset["_LCM08V1"].isnull().sum()

6394

In [540]:
dataset.drop("_LCM08V1", axis=1, inplace=True)

In [541]:
dataset["_LCPWTV1"].value_counts()

751.417615     13
1296.061704    13
414.141605     13
1717.919137    13
1339.280187    12
               ..
1032.178884     1
1116.786108     1
4224.006575     1
1297.017067     1
4224.787917     1
Name: _LCPWTV1, Length: 4249, dtype: int64

In [542]:
dataset["_LCPWTV1"].isnull().sum()

6394

In [543]:
dataset.drop("_LCPWTV1", axis=1, inplace=True)

In [544]:
dataset["_LCM01V2"].value_counts()

12.0    818
11.0    638
13.0    631
5.0     529
14.0    518
6.0     473
10.0    450
4.0     436
7.0     326
9.0     301
3.0     279
2.0     253
1.0     164
8.0     129
Name: _LCM01V2, dtype: int64

In [545]:
dataset["_LCM01V2"].isnull().sum()

6393

In [546]:
dataset.drop("_LCM01V2", axis=1, inplace=True)

In [547]:
dataset["_LCM02V2"].value_counts()

1.0    4234
3.0     715
2.0     647
4.0     349
Name: _LCM02V2, dtype: int64

In [548]:
dataset["_LCM02V2"].isnull().sum()

6393

In [549]:
dataset.drop("_LCM02V2", axis=1, inplace=True)

In [550]:
dataset["_LCM03V2"].value_counts()

4.0    2480
3.0    1472
2.0    1463
1.0     530
Name: _LCM03V2, dtype: int64

In [551]:
dataset["_LCM03V2"].isnull().sum()

6393

In [552]:
dataset.drop("_LCM03V2", axis=1, inplace=True)

In [553]:
dataset["_LCM04V2"].value_counts()

1.0    2833
3.0    1691
2.0    1421
Name: _LCM04V2, dtype: int64

In [554]:
dataset["_LCM04V2"].isnull().sum()

6393

In [555]:
dataset.drop("_LCM04V2", axis=1, inplace=True)

In [556]:
dataset["_LCM05V2"].value_counts()

1.0    3593
2.0    2352
Name: _LCM05V2, dtype: int64

In [557]:
dataset["_LCM05V2"].isnull().sum()

6393

In [558]:
dataset.drop("_LCM05V2", axis=1, inplace=True)

In [559]:
dataset["_LCM06V2"].value_counts()

5.0    2468
1.0    1766
7.0     586
6.0     431
3.0     284
2.0     234
4.0     176
Name: _LCM06V2, dtype: int64

In [560]:
dataset["_LCM06V2"].isnull().sum()

6393

In [561]:
dataset.drop("_LCM06V2", axis=1, inplace=True)

In [562]:
dataset["_LCM07V2"].value_counts()

9.0     2660
5.0     1130
1.0      444
11.0     342
10.0     293
7.0      281
6.0      234
3.0      209
8.0      158
2.0      120
4.0       74
Name: _LCM07V2, dtype: int64

In [563]:
dataset["_LCM07V2"].isnull().sum()

6393

In [564]:
dataset.drop("_LCM07V2", axis=1, inplace=True)

In [565]:
dataset["_LCM08V2"].value_counts()

3.0    3355
1.0    1767
2.0     823
Name: _LCM08V2, dtype: int64

In [566]:
dataset["_LCM08V2"].isnull().sum()

6393

In [567]:
dataset.drop("_LCM08V2", axis=1, inplace=True)

In [568]:
dataset["_LCM09V2"].value_counts()

7.0    2071
4.0     736
5.0     591
8.0     528
1.0     519
2.0     503
3.0     499
6.0     498
Name: _LCM09V2, dtype: int64

In [569]:
dataset["_LCM09V2"].isnull().sum()

6393

In [570]:
dataset.drop("_LCM09V2", axis=1, inplace=True)

In [571]:
dataset["_LCM10V2"].value_counts()

40.0    428
39.0    363
41.0    336
38.0    309
42.0    270
37.0    254
20.0    162
19.0    157
32.0    130
45.0    130
26.0    130
25.0    130
9.0     129
21.0    127
17.0    122
13.0    119
4.0     119
3.0     119
14.0    114
27.0    113
36.0    111
33.0    107
18.0     98
10.0     98
22.0     96
23.0     96
47.0     93
44.0     91
2.0      91
46.0     90
15.0     89
8.0      87
29.0     83
31.0     82
11.0     77
5.0      76
28.0     74
34.0     69
48.0     68
24.0     61
12.0     60
35.0     60
6.0      60
43.0     56
16.0     55
1.0      54
7.0      52
30.0     50
Name: _LCM10V2, dtype: int64

In [572]:
dataset["_LCM10V2"].isnull().sum()

6393

In [573]:
dataset.drop("_LCM10V2", axis=1, inplace=True)

In [574]:
dataset["_LCM11V2"].value_counts()

14.0    1264
13.0     807
8.0      414
10.0     337
7.0      322
16.0     308
2.0      304
6.0      293
12.0     284
4.0      281
9.0      254
3.0      222
15.0     220
1.0      215
11.0     214
5.0      206
Name: _LCM11V2, dtype: int64

In [575]:
dataset["_LCM11V2"].isnull().sum()

6393

In [576]:
dataset.drop("_LCM11V2", axis=1, inplace=True)

In [577]:
dataset["_LCM12V2"].value_counts()

13.0    955
6.0     563
3.0     503
12.0    498
16.0    480
1.0     467
18.0    465
14.0    450
9.0     441
4.0     428
15.0    130
7.0      95
11.0     82
8.0      78
5.0      71
10.0     68
19.0     63
17.0     56
2.0      52
Name: _LCM12V2, dtype: int64

In [578]:
dataset["_LCM12V2"].isnull().sum()

6393

In [579]:
dataset.drop("_LCM12V2", axis=1, inplace=True)

In [580]:
dataset["_LCPWTV2"].isnull().sum()

6393

In [581]:
dataset.drop("_LCPWTV2", axis=1, inplace=True)

In [582]:
dataset["_RFHLTH"].value_counts()

Good or Better Health                     10137
Fair or Poor Health                        2136
Don't know/Not Sure Or Refused/Missing       65
Name: _RFHLTH, dtype: int64

In [583]:
dataset["_RFHLTH"].isnull().sum()

0

In [584]:
dataset["_HCVU651"].value_counts()

Have health care coverage                  7379
Don't know/Not Sure, Refused or Missing    4255
Do not have health care coverage            704
Name: _HCVU651, dtype: int64

In [585]:
dataset["_HCVU651"].isnull().sum()

0

In [586]:
dataset["_RFHYPE5"].value_counts()

No                                     7750
Yes                                    4544
Don't know/Not Sure/Refused/Missing      44
Name: _RFHYPE5, dtype: int64

In [587]:
dataset["_RFHYPE5"].isnull().sum()

0

In [588]:
dataset["_CHOLCHK"].value_counts()

Had cholesterol checked in past 5 years             10428
Have never had cholesterol checked                   1258
Don't know/Not Sure Or Refused/Missing                336
Did not have cholesterol checked in past 5 years      316
Name: _CHOLCHK, dtype: int64

In [589]:
dataset["_CHOLCHK"].isnull().sum()

0

In [590]:
dataset["_RFCHOL"].value_counts()

No                                        6367
Yes                                       4396
Don't know/Not Sure Or Refused/Missing      88
Name: _RFCHOL, dtype: int64

In [591]:
dataset["_RFCHOL"].isnull().sum()

1487

In [592]:
dataset["_MICHD"].value_counts()

Did not report having MI or CHD    11282
Reported having MI or CHD            957
Name: _MICHD, dtype: int64

In [593]:
dataset["_MICHD"].isnull().sum()

99

In [594]:
dataset["_LTASTH1"].value_counts()

No                                        10512
Yes                                        1788
Don't know/Not Sure Or Refused/Missing       38
Name: _LTASTH1, dtype: int64

In [595]:
dataset["_LTASTH1"].isnull().sum()

0

In [596]:
dataset["_CASTHM1"].value_counts()

No                                        11042
Yes                                        1214
Don't know/Not Sure Or Refused/Missing       82
Name: _CASTHM1, dtype: int64

In [597]:
dataset["_CASTHM1"].isnull().sum()

0

In [598]:
dataset["_ASTHMS1"].value_counts()

Never                                     10512
Current                                    1214
Former                                      530
Don't know/Not Sure Or Refused/Missing       82
Name: _ASTHMS1, dtype: int64

In [599]:
dataset["_ASTHMS1"].isnull().sum()

0

In [600]:
dataset["_DRDXAR1"].value_counts()

Not diagnosed with arthritis           8348
Diagnosed with arthritis               3912
Don´t know/Not Sure/Refused/Missing      78
Name: _DRDXAR1, dtype: int64

In [601]:
dataset["_DRDXAR1"].isnull().sum()

0

In [602]:
dataset["_MRACE1"].value_counts()

Series([], Name: _MRACE1, dtype: int64)

In [603]:
dataset["_MRACE1"].isnull().sum()

12338

In [604]:
dataset.drop("_MRACE1", axis=1, inplace=True)

In [605]:
dataset["_M_RACE"].value_counts()

Series([], Name: _M_RACE, dtype: int64)

In [606]:
dataset["_M_RACE"].isnull().sum()

12338

In [607]:
dataset.drop("_M_RACE", axis=1, inplace=True)

In [608]:
dataset["_HISPANC"].value_counts()

Series([], Name: _HISPANC, dtype: int64)

In [609]:
dataset["_HISPANC"].isnull().sum()

12338

In [610]:
dataset.drop("_HISPANC", axis=1, inplace=True)

In [611]:
dataset["_RACE"].value_counts()

Series([], Name: _RACE, dtype: int64)

In [612]:
dataset["_RACE"].isnull().sum()

12338

In [613]:
dataset.drop("_RACE", axis=1, inplace=True)

In [614]:
dataset["_RACEG21"].value_counts()

Series([], Name: _RACEG21, dtype: int64)

In [615]:
dataset["_RACEG21"].isnull().sum()

12338

In [616]:
dataset.drop("_RACEG21", axis=1, inplace=True)

In [617]:
dataset["_RACEGR3"].value_counts()

Series([], Name: _RACEGR3, dtype: int64)

In [618]:
dataset["_RACEGR3"].isnull().sum()

12338

In [619]:
dataset.drop("_RACEGR3", axis=1, inplace=True)

In [620]:
dataset["_RACE_G1"].value_counts()

Series([], Name: _RACE_G1, dtype: int64)

In [621]:
dataset["_RACE_G1"].isnull().sum()

12338

In [622]:
dataset.drop("_RACE_G1", axis=1, inplace=True)

In [623]:
dataset["_AGEG5YR"].value_counts()

Age 55 to 59                  1314
Age 65 to 69                  1295
Age 60 to 64                  1245
Age 50 to 54                  1171
Age 80 or older               1046
Age 45 to 49                   979
Age 70 to 74                   950
Age 40 to 44                   745
Age 75 to 79                   740
Age 35 to 39                   726
Age 18 to 24                   657
Age 30 to 34                   650
Age 25 to 29                   623
Don't know/Refused/Missing     197
Name: _AGEG5YR, dtype: int64

In [624]:
dataset["_AGEG5YR"].isnull().sum()

0

In [625]:
dataset["_AGE65YR"].value_counts()

Age 18 to 64                  8110
Age 65 or older               4031
Don't know/Refused/Missing     197
Name: _AGE65YR, dtype: int64

In [626]:
dataset["_AGE65YR"].isnull().sum()

0

In [627]:
dataset["_AGE80"].value_counts()

Imputed Age 60 to 64       1359
Imputed Age 55 to 59       1316
Imputed Age 65 to 69       1296
Imputed Age 50 to 54       1205
Imputed Age 80 or older    1046
Imputed Age 45 to 49       1004
Imputed Age 70 to 74        950
Imputed Age 40 to 44        760
Imputed Age 75 to 79        740
Imputed Age 35 to 39        730
Imputed Age 18 to 24        657
Imputed Age 30 to 34        651
Imputed Age 25 to 29        624
Name: _AGE80, dtype: int64

In [628]:
dataset["_AGE80"].isnull().sum()

0

In [629]:
dataset["_AGE_G"].value_counts()

Age 65 or older    4032
Age 55 to 64       2675
Age 45 to 54       2209
Age 35 to 44       1490
Age 25 to 34       1275
Age 18 to 24        657
Name: _AGE_G, dtype: int64

In [630]:
dataset["_AGE_G"].isnull().sum()

0

In [631]:
dataset["HTIN4"].value_counts()

Series([], Name: HTIN4, dtype: int64)

In [632]:
dataset["HTIN4"].isnull().sum()

12338

In [633]:
dataset.drop("HTIN4", axis=1, inplace=True)

In [634]:
dataset["HTM4"].value_counts()

Series([], Name: HTM4, dtype: int64)

In [635]:
dataset["HTM4"].isnull().sum()

12338

In [636]:
dataset.drop("HTM4", axis=1, inplace=True)

In [637]:
dataset["WTKG3"].value_counts()

Series([], Name: WTKG3, dtype: int64)

In [638]:
dataset["WTKG3"].isnull().sum()

12338

In [639]:
dataset.drop("WTKG3", axis=1, inplace=True)

In [640]:
dataset["_BMI5"].value_counts()

1 or greater                  11264
Don't know/Refused/Missing     1074
Name: _BMI5, dtype: int64

In [641]:
dataset["_BMI5"].isnull().sum()

0

In [642]:
dataset["_BMI5CAT"].value_counts()

Normal Weight                 4117
Overweight                    4005
Obese                         2933
Don't know/Refused/Missing    1074
Underweight                    209
Name: _BMI5CAT, dtype: int64

In [643]:
dataset["_BMI5CAT"].isnull().sum()

0

In [644]:
dataset["_RFBMI5"].value_counts()

Yes                           6938
No                            4326
Don't know/Refused/Missing    1074
Name: _RFBMI5, dtype: int64

In [645]:
dataset["_RFBMI5"].isnull().sum()

0

In [646]:
dataset["_CHLDCNT"].value_counts()

No children in household              8898
One child in household                1395
Two children in household             1211
Three children in household            436
Don't know/Not sure/Missing            173
Four children in household             127
Five or more children in household      98
Name: _CHLDCNT, dtype: int64

In [647]:
dataset["_CHLDCNT"].isnull().sum()

0

In [648]:
dataset["_EDUCAG"].value_counts()

Graduated from College or Technical School    5272
Graduated High School                         2977
Attended College or Technical School          2883
Did not graduate High School                  1114
Don't know/Not sure/Missing                     92
Name: _EDUCAG, dtype: int64

In [649]:
dataset["_EDUCAG"].isnull().sum()

0

In [650]:
dataset["_INCOMG"].value_counts()

$50,000 or more                 5272
Don't know/Not sure/Missing     1997
$15,000 to less than $25,000    1712
$35,000 to less than $50,000    1226
Less than $15,000               1122
$25,000 to less than $35,000    1009
Name: _INCOMG, dtype: int64

In [651]:
dataset["_INCOMG"].isnull().sum()

0

In [652]:
dataset["_SMOKER3"].value_counts()

Never smoked                             6624
Former smoker                            3472
Current smoker - now smokes every day    1075
Don't know/Refused/Missing                672
Current smoker - now smokes some days     495
Name: _SMOKER3, dtype: int64

In [653]:
dataset["_SMOKER3"].isnull().sum()

0

In [654]:
dataset["_RFSMOK3"].value_counts()

No                            10096
Yes                            1570
Don't know/Refused/Missing      672
Name: _RFSMOK3, dtype: int64

In [655]:
dataset["_RFSMOK3"].isnull().sum()

0

In [656]:
dataset["DRNKANY5"].value_counts()

Yes                6441
No                 5087
Refused/Missing     747
Name: DRNKANY5, dtype: int64

In [657]:
dataset["DRNKANY5"].isnull().sum()

63

In [658]:
dataset["DROCDY3_"].value_counts()

Drink-Occasions per day                   6441
No Drink-Occasions per day                5087
Don't know/Not Sure Or Refused/Missing     810
Name: DROCDY3_, dtype: int64

In [659]:
dataset["DROCDY3_"].isnull().sum()

0

In [660]:
dataset["_RFBING5"].value_counts()

No                            9882
Yes                           1503
Don't know/Refused/Missing     953
Name: _RFBING5, dtype: int64

In [661]:
dataset["_RFBING5"].isnull().sum()

0

In [662]:
dataset["_DRNKWEK"].value_counts()

0        5087
99900     942
23        674
47        565
93        383
         ...
443         1
2450        1
1213        1
2613        1
2520        1
Name: _DRNKWEK, Length: 102, dtype: int64

In [663]:
dataset["_DRNKWEK"].isnull().sum()

0

In [664]:
dataset["_RFDRHV5"].value_counts()

1    10763
9      942
2      633
Name: _RFDRHV5, dtype: int64

In [665]:
dataset["_RFDRHV5"].isnull().sum()

0

In [666]:
dataset["FTJUDA1_"].value_counts()

0.0       4287
100.0     2078
29.0       580
43.0       479
14.0       451
7.0        449
200.0      393
3.0        388
10.0       275
17.0       266
13.0       182
57.0       173
71.0       157
33.0       153
50.0       129
67.0       109
300.0      105
20.0        68
400.0       39
83.0        37
27.0        32
23.0        30
40.0        27
86.0        27
2.0         23
500.0       23
143.0       17
47.0        15
93.0         9
30.0         7
286.0        4
53.0         4
150.0        3
600.0        3
70.0         3
167.0        2
429.0        2
80.0         2
700.0        2
214.0        2
97.0         2
114.0        1
1000.0       1
103.0        1
60.0         1
330.0        1
2500.0       1
357.0        1
73.0         1
129.0        1
800.0        1
186.0        1
133.0        1
63.0         1
77.0         1
147.0        1
Name: FTJUDA1_, dtype: int64

In [667]:
dataset["FTJUDA1_"].isnull().sum()

1286

In [668]:
dataset["FRUTDA1_"].value_counts()

100.0     3259
200.0     1823
43.0       694
300.0      609
29.0       575
          ...
2500.0       1
800.0        1
129.0        1
140.0        1
714.0        1
Name: FRUTDA1_, Length: 67, dtype: int64

In [669]:
dataset["FRUTDA1_"].isnull().sum()

1260

In [670]:
dataset["BEANDAY_"].value_counts()

0.0       2351
14.0      1222
29.0      1127
7.0        876
43.0       757
3.0        625
100.0      618
10.0       542
17.0       521
13.0       443
33.0       393
57.0       304
50.0       226
71.0       152
67.0       150
20.0       148
200.0      134
27.0       108
23.0        86
40.0        58
83.0        41
300.0       30
86.0        18
47.0        17
53.0        12
143.0       10
30.0         8
2.0          7
500.0        5
400.0        5
37.0         5
70.0         5
286.0        3
60.0         3
114.0        3
214.0        2
80.0         2
133.0        2
290.0        1
140.0        1
2200.0       1
93.0         1
129.0        1
77.0         1
167.0        1
429.0        1
117.0        1
Name: BEANDAY_, dtype: int64

In [671]:
dataset["BEANDAY_"].isnull().sum()

1310

In [672]:
dataset["GRENDAY_"].value_counts()

100.0    2178
43.0     1143
29.0      986
14.0      686
57.0      668
200.0     650
0.0       639
71.0      562
67.0      479
50.0      382
33.0      372
7.0       296
17.0      286
10.0      257
13.0      241
83.0      190
3.0       169
86.0      115
20.0      109
300.0     103
27.0       98
40.0       90
23.0       82
47.0       23
500.0      21
400.0      21
143.0      19
53.0       16
133.0      15
93.0       15
30.0       13
114.0      11
60.0       11
87.0       10
73.0       10
90.0        8
70.0        8
167.0       7
150.0       5
80.0        5
286.0       4
37.0        4
429.0       4
214.0       3
2.0         3
117.0       3
600.0       3
77.0        3
103.0       3
171.0       3
330.0       1
233.0       1
110.0       1
63.0        1
157.0       1
129.0       1
800.0       1
700.0       1
97.0        1
183.0       1
Name: GRENDAY_, dtype: int64

In [673]:
dataset["GRENDAY_"].isnull().sum()

1296

In [674]:
dataset["ORNGDAY_"].value_counts()

0.0      1619
14.0     1471
29.0     1268
43.0      884
100.0     812
7.0       751
17.0      557
3.0       528
10.0      500
33.0      471
13.0      423
57.0      320
50.0      285
71.0      213
67.0      198
200.0     148
20.0      136
27.0      102
23.0       94
83.0       47
40.0       45
86.0       32
300.0      28
47.0       16
30.0        9
60.0        9
143.0       8
2.0         7
53.0        6
400.0       6
500.0       5
73.0        4
37.0        4
114.0       4
93.0        3
80.0        3
133.0       1
70.0        1
63.0        1
171.0       1
90.0        1
103.0       1
Name: ORNGDAY_, dtype: int64

In [675]:
dataset["ORNGDAY_"].isnull().sum()

1316

In [676]:
dataset["VEGEDA1_"].value_counts()

100.0    3080
43.0      955
200.0     922
29.0      840
57.0      560
71.0      520
14.0      516
67.0      488
33.0      372
50.0      354
0.0       272
83.0      215
17.0      210
13.0      204
7.0       179
10.0      170
300.0     155
86.0      145
3.0       112
20.0      104
27.0       92
40.0       82
23.0       70
400.0      32
143.0      31
133.0      24
93.0       23
47.0       23
500.0      20
53.0       13
167.0      12
150.0      11
60.0       10
90.0       10
70.0        9
114.0       9
80.0        8
117.0       8
97.0        6
30.0        6
73.0        6
214.0       6
87.0        5
171.0       4
330.0       4
429.0       3
77.0        2
700.0       2
103.0       2
600.0       1
286.0       1
129.0       1
250.0       1
457.0       1
2.0         1
63.0        1
37.0        1
157.0       1
183.0       1
Name: VEGEDA1_, dtype: int64

In [677]:
dataset["VEGEDA1_"].isnull().sum()

1422

In [678]:
dataset["_MISFRTN"].value_counts()

No missing fruit responses            10903
Has 1 or 2 missing fruit responses     1435
Name: _MISFRTN, dtype: int64

In [679]:
dataset["_MISFRTN"].isnull().sum()

0

In [680]:
dataset["_MISVEGN"].value_counts()

No missing vegetable responses                   10685
Has 1, 2, 3, or 4 missing vegetable responses     1653
Name: _MISVEGN, dtype: int64

In [681]:
dataset["_MISVEGN"].isnull().sum()

0

In [682]:
dataset["_FRTRESP"].value_counts()

Included - Not Missing Fruit Responses    10903
Not Included - Missing Fruit Responses     1435
Name: _FRTRESP, dtype: int64

In [683]:
dataset["_FRTRESP"].isnull().sum()

0

In [684]:
dataset["_VEGRESP"].value_counts()

Included - Not Missing Vegetable Responses    10685
Not Included - Missing Vegetable Responses     1653
Name: _VEGRESP, dtype: int64

In [685]:
dataset["_VEGRESP"].isnull().sum()

0

In [686]:
dataset["_FRUTSUM"].value_counts()

200.0     1619
100.0     1349
300.0      763
43.0       360
400.0      308
          ...
231.0        1
5000.0       1
471.0        1
1300.0       1
620.0        1
Name: _FRUTSUM, Length: 229, dtype: int64

In [687]:
dataset["_FRUTSUM"].isnull().sum()

1435

In [688]:
dataset["_VEGESUM"].value_counts()

200.0    213
143.0    191
100.0    171
243.0    166
157.0    166
        ...
389.0      1
464.0      1
399.0      1
523.0      1
375.0      1
Name: _VEGESUM, Length: 555, dtype: int64

In [689]:
dataset["_VEGESUM"].isnull().sum()

1653

In [690]:
dataset["_FRTLT1"].value_counts()

Consumed fruit one or more times per day     7261
Consumed fruit less than one time per day    3642
Don´t know, refused or missing values        1435
Name: _FRTLT1, dtype: int64

In [691]:
dataset["_FRTLT1"].isnull().sum()

0

In [692]:
dataset["_VEGLT1"].value_counts()

Consumed vegetables one or more times per day     8466
Consumed vegetables less than one time per day    2219
Don´t know, refused or missing values             1653
Name: _VEGLT1, dtype: int64

In [693]:
dataset["_VEGLT1"].isnull().sum()

0

In [694]:
dataset["_FRT16"].value_counts()

Included - Values are in accepted range    12337
Not Included - Values are too high             1
Name: _FRT16, dtype: int64

In [695]:
dataset["_FRT16"].isnull().sum()

0

In [696]:
dataset["_VEG23"].value_counts()

Included - Values are in accepted range    12338
Name: _VEG23, dtype: int64

In [697]:
dataset["_VEG23"].isnull().sum()

0

In [698]:
dataset["_FRUITEX"].value_counts()

No missing values and in accepted range    10902
Missing Fruit responses                     1435
Fruit values out of range                      1
Name: _FRUITEX, dtype: int64

In [699]:
dataset["_FRUITEX"].isnull().sum()

0

In [700]:
dataset["_VEGETEX"].value_counts()

No missing values and in accepted range    10685
Missing Vegetable responses                 1653
Name: _VEGETEX, dtype: int64

In [701]:
dataset["_VEGETEX"].isnull().sum()

0

In [702]:
dataset["_TOTINDA"].value_counts()

Had physical activity or exercise                   7837
No physical activity or exercise in last 30 days    3118
Don't know/Refused/Missing                          1383
Name: _TOTINDA, dtype: int64

In [703]:
dataset["_TOTINDA"].isnull().sum()

0

In [704]:
dataset["METVL11_"].value_counts()

35.0     4304
60.0      743
0.0       503
50.0      440
68.0      375
73.0      244
38.0      237
70.0      173
45.0      129
53.0       81
78.0       78
40.0       63
33.0       62
58.0       57
43.0       51
90.0       48
65.0       37
55.0       28
80.0       19
103.0      17
48.0       16
30.0       15
128.0      15
25.0        5
125.0       4
110.0       3
63.0        2
120.0       2
Name: METVL11_, dtype: int64

In [705]:
dataset["METVL11_"].isnull().sum()

4587

In [706]:
dataset["METVL21_"].value_counts()

0.0      3112
35.0     1258
33.0      439
60.0      398
68.0      372
50.0      323
38.0      259
73.0      210
45.0      193
70.0      163
90.0      141
40.0      138
53.0      106
78.0       95
58.0       69
55.0       59
43.0       50
65.0       45
30.0       27
25.0       23
48.0       21
80.0       16
128.0      14
103.0      11
110.0       9
125.0       6
98.0        2
120.0       1
Name: METVL21_, dtype: int64

In [707]:
dataset["METVL21_"].isnull().sum()

4778

In [708]:
dataset["MAXVO2_"].value_counts()

99900    197
2284     174
2506     169
2580     166
2617     161
        ...
830        3
1285       2
610        1
555        1
720        1
Name: MAXVO2_, Length: 162, dtype: int64

In [709]:
dataset["MAXVO2_"].isnull().sum()

0

In [710]:
dataset["FC60_"].value_counts()

99900    197
392      174
430      169
442      166
449      161
        ...
152        3
220        2
95         1
123        1
105        1
Name: FC60_, Length: 155, dtype: int64

In [711]:
dataset["FC60_"].isnull().sum()

0

In [712]:
dataset["ACTIN11_"].value_counts()

1.0    4579
2.0    2567
0.0     500
Name: ACTIN11_, dtype: int64

In [713]:
dataset["ACTIN11_"].isnull().sum()

4692

In [714]:
dataset["ACTIN21_"].value_counts()

0.0    3086
1.0    2298
2.0    2077
Name: ACTIN21_, dtype: int64

In [715]:
dataset["ACTIN21_"].isnull().sum()

4877

In [716]:
dataset["PADUR1_"].value_counts()

30.0     1912
60.0     1693
45.0      733
20.0      605
120.0     482
90.0      394
15.0      299
40.0      265
180.0     202
10.0      144
240.0     121
25.0      121
1.0       115
35.0       76
2.0        56
50.0       49
300.0      49
75.0       38
5.0        30
3.0        28
150.0      27
360.0      21
4.0        16
80.0       15
55.0       13
12.0       12
270.0      10
105.0       8
480.0       7
210.0       7
6.0         7
8.0         7
70.0        6
7.0         5
22.0        3
85.0        3
16.0        2
19.0        2
110.0       2
99.0        2
160.0       2
135.0       2
419.0       1
390.0       1
125.0       1
17.0        1
13.0        1
170.0       1
132.0       1
599.0       1
38.0        1
28.0        1
18.0        1
65.0        1
33.0        1
Name: PADUR1_, dtype: int64

In [717]:
dataset["PADUR1_"].isnull().sum()

4734

In [718]:
dataset["PADUR2_"].value_counts()

30.0     1122
60.0     1100
20.0      476
120.0     382
45.0      370
15.0      343
90.0      213
180.0     171
10.0      168
40.0      120
1.0       100
240.0      88
25.0       69
5.0        67
2.0        51
300.0      46
150.0      42
3.0        30
360.0      28
50.0       27
35.0       25
4.0        20
75.0       18
8.0        11
12.0        9
270.0       9
7.0         9
6.0         9
80.0        7
210.0       5
419.0       5
55.0        4
105.0       4
70.0        3
480.0       3
160.0       3
18.0        2
17.0        2
410.0       2
65.0        1
135.0       1
48.0        1
100.0       1
21.0        1
14.0        1
Name: PADUR2_, dtype: int64

In [719]:
dataset["PADUR2_"].isnull().sum()

7169

In [720]:
dataset.drop("PADUR2_", axis=1, inplace=True)

In [721]:
dataset["PAFREQ1_"].value_counts()

7000.0     1327
3000.0     1284
2000.0      961
5000.0      755
4000.0      720
           ...
79000.0       1
18667.0       1
49000.0       1
99000.0       1
7700.0        1
Name: PAFREQ1_, Length: 62, dtype: int64

In [722]:
dataset["PAFREQ1_"].isnull().sum()

4745

In [723]:
dataset["PAFREQ2_"].value_counts()

2000.0     869
3000.0     747
1000.0     643
7000.0     631
5000.0     307
4000.0     284
933.0      202
467.0      183
700.0      150
1167.0     125
4667.0     122
2333.0     119
3500.0     109
6000.0     104
1867.0     103
233.0       92
1400.0      89
2800.0      58
5833.0      46
1633.0      38
14000.0     32
3267.0      16
10000.0     14
21000.0     12
6533.0       9
3733.0       9
20000.0      7
2100.0       6
30000.0      4
4200.0       3
3033.0       3
7233.0       3
5600.0       3
15000.0      3
40000.0      3
12000.0      3
4900.0       2
23100.0      2
8167.0       2
11667.0      2
25000.0      2
8000.0       2
3967.0       2
99000.0      2
22000.0      1
28000.0      1
18667.0      1
24000.0      1
19600.0      1
5133.0       1
6767.0       1
42000.0      1
35000.0      1
9333.0       1
70000.0      1
6300.0       1
14467.0      1
Name: PAFREQ2_, dtype: int64

In [724]:
dataset["PAFREQ2_"].isnull().sum()

7158

In [725]:
dataset.drop("PAFREQ2_", axis=1, inplace=True)

In [726]:
dataset["_MINAC11"].value_counts()

0.0       750
180.0     488
120.0     456
90.0      445
60.0      418
         ...
33.0        1
4410.0      1
378.0       1
195.0       1
275.0       1
Name: _MINAC11, Length: 215, dtype: int64

In [727]:
dataset["_MINAC11"].isnull().sum()

4833

In [728]:
dataset["_MINAC21"].value_counts()

0.0      3395
60.0      363
120.0     293
90.0      235
180.0     198
         ...
131.0       1
419.0       1
810.0       1
651.0       1
467.0       1
Name: _MINAC21, Length: 157, dtype: int64

In [729]:
dataset["_MINAC21"].isnull().sum()

4904

In [730]:
dataset["STRFREQ_"].value_counts()

0.0        6317
3000.0      823
2000.0      741
1000.0      489
7000.0      355
4000.0      323
5000.0      279
467.0       194
933.0       127
233.0       127
700.0       121
2333.0      120
1167.0      120
6000.0      102
3500.0       93
4667.0       86
1867.0       78
2800.0       44
1400.0       43
5833.0       30
1633.0       22
14000.0      20
3733.0       14
3267.0       12
6533.0       11
21000.0       4
12000.0       4
4900.0        4
2100.0        4
5600.0        3
10000.0       3
5133.0        3
6067.0        3
7233.0        3
6767.0        2
4200.0        2
10500.0       2
15000.0       2
8000.0        2
3033.0        2
35000.0       1
2567.0        1
40000.0       1
23100.0       1
30000.0       1
6300.0        1
28000.0       1
Name: STRFREQ_, dtype: int64

In [731]:
dataset["STRFREQ_"].isnull().sum()

1597

In [732]:
dataset["PAMISS1_"].value_counts()

0    10281
9     1383
1      674
Name: PAMISS1_, dtype: int64

In [733]:
dataset["PAMISS1_"].isnull().sum()

0

In [734]:
dataset["PAMIN11_"].value_counts()

0.0      743
180.0    445
120.0    414
420.0    343
60.0     321
        ...
165.0      1
455.0      1
385.0      1
990.0      1
149.0      1
Name: PAMIN11_, Length: 245, dtype: int64

In [735]:
dataset["PAMIN11_"].isnull().sum()

4930

In [736]:
dataset["PAMIN21_"].value_counts()

0.0       3349
120.0      316
60.0       249
240.0      227
180.0      189
          ...
118.0        1
1500.0       1
1302.0       1
4060.0       1
96.0         1
Name: PAMIN21_, Length: 183, dtype: int64

In [737]:
dataset["PAMIN21_"].isnull().sum()

5006

In [738]:
dataset["PA1MIN_"].value_counts()

0.0       391
180.0     284
120.0     280
420.0     270
210.0     237
         ...
459.0       1
1830.0      1
557.0       1
2596.0      1
67.0        1
Name: PA1MIN_, Length: 780, dtype: int64

In [739]:
dataset["PA1MIN_"].isnull().sum()

4761

In [740]:
dataset["PAVIG11_"].value_counts()

0.0      5166
180.0     187
120.0     174
90.0      149
60.0      141
         ...
275.0       1
99.0        1
595.0       1
357.0       1
322.0       1
Name: PAVIG11_, Length: 153, dtype: int64

In [741]:
dataset["PAVIG11_"].isnull().sum()

4784

In [742]:
dataset["PAVIG21_"].value_counts()

0.0       5520
60.0       181
120.0      157
180.0      110
90.0       103
          ...
1680.0       1
146.0        1
131.0        1
1257.0       1
233.0        1
Name: PAVIG21_, Length: 126, dtype: int64

In [743]:
dataset["PAVIG21_"].isnull().sum()

4940

In [744]:
dataset["PA1VIGM_"].value_counts()

0.0      4120
60.0      233
120.0     220
180.0     213
90.0      177
         ...
96.0        1
539.0       1
404.0       1
616.0       1
620.0       1
Name: PA1VIGM_, Length: 389, dtype: int64

In [745]:
dataset["PA1VIGM_"].isnull().sum()

4714

In [746]:
dataset["_PACAT1"].value_counts()

Inactive                               3372
Highly Active                          3255
Don't know/Not Sure/Refused/Missing    1966
Insufficiently Active                  1878
Active                                 1867
Name: _PACAT1, dtype: int64

In [747]:
dataset["_PACAT1"].isnull().sum()

0

In [748]:
dataset["_PAINDX1"].value_counts()

Did Not Meet Aerobic Recommendations    5250
Meet Aerobic Recommendations            5196
Don't know/Not Sure/Refused/Missing     1892
Name: _PAINDX1, dtype: int64

In [749]:
dataset["_PAINDX1"].isnull().sum()

0

In [750]:
dataset["_PA150R2"].value_counts()

150+ minutes (or vigorous equivalent minutes) of physical activity      5196
0 minutes (or vigorous equivalent minutes) of physical activity         3372
Don't know/Not Sure/Refused/Missing                                     1892
1-149 minutes  (or vigorous equivalent minutes) of physical activity    1878
Name: _PA150R2, dtype: int64

In [751]:
dataset["_PA150R2"].isnull().sum()

0

In [752]:
dataset["_PA300R2"].value_counts()

1-300 minutes  (or vigorous equivalent minutes) of physical activity    3745
0 minutes  (or vigorous equivalent minutes) of physical activity        3372
301+ minutes  (or vigorous equivalent minutes) of physical activity     3255
Don't know/Not Sure/Refused/Missing                                     1966
Name: _PA300R2, dtype: int64

In [753]:
dataset["_PA300R2"].isnull().sum()

0

In [754]:
dataset["_PA30021"].value_counts()

0-300 minutes  (or vigorous equivalent minutes) of physical activity    7117
301+ minutes  (or vigorous equivalent minutes) of physical activity     3255
Don't know/Not Sure/Refused/Missing                                     1966
Name: _PA30021, dtype: int64

In [755]:
dataset["_PA30021"].isnull().sum()

0

In [756]:
dataset["_PASTRNG"].value_counts()

Did not meet muscle strengthening recommendations    7638
Meet muscle strengthening recommendations            3103
Don't know/Not Sure/Refused/Missing                  1597
Name: _PASTRNG, dtype: int64

In [757]:
dataset["_PASTRNG"].isnull().sum()

0

In [758]:
dataset["_PAREC1"].value_counts()

Did not meet Either Guideline          4253
Met Aerobic Guidelines Only            3095
Don't know/Not Sure/Refused/Missing    2036
Met Both Guidelines                    2023
Met Strengthening Guidelines Only       931
Name: _PAREC1, dtype: int64

In [759]:
dataset["_PAREC1"].isnull().sum()

0

In [760]:
dataset["_PASTAE1"].value_counts()

Did Not Meet Both Guidelines           8279
Don't know/Not Sure/Refused/Missing    2036
Met Both Guidelines                    2023
Name: _PASTAE1, dtype: int64

In [761]:
dataset["_PASTAE1"].isnull().sum()

0

In [762]:
dataset["_LMTACT1"].value_counts()

Not told they have arthritis                               8348
Told have arthritis and no limited usual activities        1787
Told have arthritis and have limited usual activities      1662
Don´t know, refused or missing usual activities limited     463
Don´t know, refused or missing arthritis or not asked        78
Name: _LMTACT1, dtype: int64

In [763]:
dataset["_LMTACT1"].isnull().sum()

0

In [764]:
dataset["_LMTWRK1"].value_counts()

Not told they have arthritis                             8348
Told have arthritis and no limited work                  2392
Told have arthritis and have limited work                 958
Don´t know, refused or missing work limited               562
Don´t know, refused or missing arthritis or not asked      78
Name: _LMTWRK1, dtype: int64

In [765]:
dataset["_LMTWRK1"].isnull().sum()

0

In [766]:
dataset["_LMTSCL1"].value_counts()

Not told they have arthritis                                  8348
Told have arthritis and social activities not limited         1977
Told have arthritis and social activities limited a little     858
Told have arthritis and social activities limited a lot        599
Don´t know, refused or missing social activities limited       478
Don´t know, refused or missing arthritis or not asked           78
Name: _LMTSCL1, dtype: int64

In [767]:
dataset["_LMTSCL1"].isnull().sum()

0

In [768]:
dataset["_RFSEAT2"].value_counts()

Always or Almost Always Wear Seat Belt        10239
Don't know/Not Sure Or Refused/Missing         1541
Sometimes, Seldom, or Never Wear Seat Belt      558
Name: _RFSEAT2, dtype: int64

In [769]:
dataset["_RFSEAT2"].isnull().sum()

0

In [770]:
dataset["_RFSEAT3"].value_counts()

Always Wear Seat Belt                     9624
Don't know/Not Sure Or Refused/Missing    1541
Don't Always Wear Seat Belt               1173
Name: _RFSEAT3, dtype: int64

In [771]:
dataset["_RFSEAT3"].isnull().sum()

0

In [772]:
dataset["_FLSHOT6"].value_counts()

Age Less Than 65                          8110
Yes                                       2206
No                                        1386
Don't know/Not Sure Or Refused/Missing     636
Name: _FLSHOT6, dtype: int64

In [773]:
dataset["_FLSHOT6"].isnull().sum()

0

In [774]:
dataset["_PNEUMO2"].value_counts()

Age Less Than 65                          8110
Yes                                       2495
No                                         984
Don't know/Not Sure Or Refused/Missing     749
Name: _PNEUMO2, dtype: int64

In [775]:
dataset["_PNEUMO2"].isnull().sum()

0

In [776]:
dataset["_AIDTST3"].value_counts()

No                             6190
Yes                            4292
Not asked or missing           1610
Don't know/Not Sure/Refused     246
Name: _AIDTST3, dtype: int64

In [777]:
dataset["_AIDTST3"].isnull().sum()

0

In [778]:
dataset["MEDICARE"].value_counts()

No     5247
Yes    4225
8         1
Name: MEDICARE, dtype: int64

In [779]:
dataset["MEDICARE"].isnull().sum()

2865

In [780]:
dataset["HLTHCVR1"].value_counts()

A plan purchased through an employer or union (includes plans purchased through another person's employer)    4422
Medicare                                                                                                      2482
Medicaid or other state program                                                                                988
A plan that you or another family member buys on your own                                                      914
Some other source                                                                                              239
TRICARE (formerly CHAMPUS), VA, or Military                                                                    156
None (no coverage)                                                                                              67
Alaska Native, Indian Health Service, Tribal Health Services                                                     6
Name: HLTHCVR1, dtype: int64

In [781]:
dataset["HLTHCVR1"].isnull().sum()

3064

In [782]:
dataset["DELAYMED"].value_counts()

No, I did not delay getting medical care/did not need medical care    8693
You couldn't get an appointment soon enough                            440
You didn't have transportation                                         321
Once you got there, you had to wait too long to see the doctor         290
Other                                                                  150
You couldn't get through on the telephone                              107
The (clinic/doctor's) office wasn't open when you got there.            46
Name: DELAYMED, dtype: int64

In [783]:
dataset["DELAYMED"].isnull().sum()

2291

In [784]:
dataset["NOCOV121"].value_counts()

No     8959
Yes     523
Name: NOCOV121, dtype: int64

In [785]:
dataset["NOCOV121"].isnull().sum()

2856

In [786]:
dataset["LSTCOVRG"].value_counts()

6 months or less                                   147
More than 3 years                                  131
Never                                              118
More than 1 year but not more than 3 years ago     109
More than 6 months but not more than 1 year ago     70
Dont know/Not Sure                                  27
Name: LSTCOVRG, dtype: int64

In [787]:
dataset["LSTCOVRG"].isnull().sum()

11736

In [788]:
dataset.drop("LSTCOVRG", axis=1, inplace=True)

In [789]:
dataset["DRVISITS"].value_counts()

Number of times    9103
None                681
Name: DRVISITS, dtype: int64

In [790]:
dataset["DRVISITS"].isnull().sum()

2554

In [791]:
dataset["MEDCOST"].value_counts()

No     11150
Yes     1144
Name: MEDCOST, dtype: int64

In [792]:
dataset["MEDSCOST"].isnull().sum()

2250

In [793]:
dataset["CARERCVD"].value_counts()

Very satisfied          6721
Somewhat satisfied      2767
Not at all satisfied     340
Not applicable           116
Dont know/Not Sure        38
Name: CARERCVD, dtype: int64

In [794]:
dataset["CARERCVD"].isnull().sum()

2356

In [795]:
dataset["MEDBILL1"].value_counts()

No     8839
Yes    1173
Name: MEDBILL1, dtype: int64

In [796]:
dataset["MEDBILL1"].isnull().sum()

2326

In [797]:
dataset["EMPLSTYR"].value_counts()

No                                      1897
Yes, employed full time or part time     245
Yes, self employed                        96
Name: EMPLSTYR, dtype: int64

In [798]:
dataset["EMPLSTYR"].isnull().sum()

10100

In [799]:
dataset.drop("EMPLSTYR", axis=1, inplace=True)

In [800]:
dataset["JOBINJMT"].value_counts()

No     2810
Yes     124
Name: JOBINJMT, dtype: int64

In [801]:
dataset["JOBINJMT"].isnull().sum()

9404

In [802]:
dataset.drop("JOBINJMT", axis=1, inplace=True)

In [803]:
dataset["DAYSRTRN"].value_counts()

Seven or more    46
Next day         37
Three or four    14
One or two       13
Five              5
Six               2
Name: DAYSRTRN, dtype: int64

In [804]:
dataset["DAYSRTRN"].isnull().sum()

12221

In [805]:
dataset.drop("DAYSRTRN", axis=1, inplace=True)

In [806]:
dataset["WHOPAIDT"].value_counts()

Workers' compensation or the State Insurance Fund               44
Multiple payors                                                 28
Your own health insurance or health coverage plan               20
Your employer WITHOUT a workers' complensation claim             9
Your or your family: out of pocket-excluding co-pays             8
Workers'compensation claim was filed, but it's still pending     6
No one paid; no treatment                                        4
Other source (SPECIFY)                                           2
Name: WHOPAIDT, dtype: int64

In [807]:
dataset["WHOPAIDT"].isnull().sum()

12217

In [808]:
dataset.drop("WHOPAIDT", axis=1, inplace=True)

In [809]:
dataset["OTHRPAID"].value_counts()

Co-pay           1
Car insurance    1
Medicaid         1
Name: OTHRPAID, dtype: int64

In [810]:
dataset["OTHRPAID"].isnull().sum()

12335

In [811]:
dataset.drop("OTHRPAID", axis=1, inplace=True)

In [812]:
dataset["EMPAWARE"].value_counts()

Yes    115
No       8
Name: EMPAWARE, dtype: int64

In [813]:
dataset["EMPAWARE"].isnull().sum()

12215

In [814]:
dataset.drop("EMPAWARE", axis=1, inplace=True)

In [815]:
dataset["MISNERVS"].value_counts()

None        2577
A little    1338
Some         785
Most         204
All           82
Name: MISNERVS, dtype: int64

In [816]:
dataset["MISNERVS"].isnull().sum()

7352

In [817]:
dataset.drop("MISNERVS", axis=1, inplace=True)

In [818]:
dataset["MISHOPLS"].value_counts()

None        3955
A little     546
Some         364
Most          88
All           43
Name: MISHOPLS, dtype: int64

In [819]:
dataset["MISHOPLS"].isnull().sum()

7342

In [820]:
dataset.drop("MISHOPLS", axis=1, inplace=True)

In [821]:
dataset["MISRSTLS"].value_counts()

None        2951
A little    1034
Some         730
Most         156
All          107
Name: MISRSTLS, dtype: int64

In [822]:
dataset["MISRSTLS"].isnull().sum()

7360

In [823]:
dataset.drop("MISRSTLS", axis=1, inplace=True)

In [824]:
dataset["MISDEPRD"].value_counts()

None        4209
A little     381
Some         292
Most          76
All           34
Name: MISDEPRD, dtype: int64

In [825]:
dataset["MISDEPRD"].isnull().sum()

7346

In [826]:
dataset.drop("MISDEPRD", axis=1, inplace=True)

In [827]:
dataset["MISEFFRT"].value_counts()

None        3227
A little     739
Some         623
All          185
Most         183
Name: MISEFFRT, dtype: int64

In [828]:
dataset["MISEFFRT"].isnull().sum()

7381

In [829]:
dataset.drop("MISEFFRT", axis=1, inplace=True)

In [830]:
dataset["MISWTLES"].value_counts()

None        4319
A little     295
Some         246
Most          73
All           50
Name: MISWTLES, dtype: int64

In [831]:
dataset["MISWTLES"].isnull().sum()

7355

In [832]:
dataset.drop("MISWTLES", axis=1, inplace=True)

In [833]:
dataset["MISNOWRK"].value_counts()

None              4451
Number of days     492
Name: MISNOWRK, dtype: int64

In [834]:
dataset["MISNOWRK"].isnull().sum()

7395

In [835]:
dataset.drop("MISNOWRK", axis=1, inplace=True)

In [836]:
dataset["MISTMNT"].value_counts()

No     4334
Yes     636
Name: MISTMNT, dtype: int64

In [837]:
dataset["MISTMNT"].isnull().sum()

7368

In [838]:
dataset.drop("MISTMNT", axis=1, inplace=True)

In [839]:
dataset["MISTRHLP"].value_counts()

All         3350
Most         993
A little     189
None         120
Some          90
Name: MISTRHLP, dtype: int64

In [840]:
dataset["MISTRHLP"].isnull().sum()

7596

In [841]:
dataset.drop("MISTRHLP", axis=1, inplace=True)

In [842]:
dataset["MISPHLPF"].value_counts()

Agree slightly                1650
Disagree slightly             1249
Agree strongly                1213
Disagree strongly              557
Neither agree nor disagree      90
Name: MISPHLPF, dtype: int64

In [843]:
dataset["MISPHLPF"].isnull().sum()

7579

In [844]:
dataset.drop("MISPHLPF", axis=1, inplace=True)

In [845]:
dataset["SSBSUGR1"].value_counts()

Never              2682
Times per month    1129
Times per week      685
Times per day       416
Name: SSBSUGR1, dtype: int64

In [846]:
dataset["SSBSUGR1"].isnull().sum()

7426

In [847]:
dataset.drop("SSBSUGR1", axis=1, inplace=True)

In [848]:
dataset["SSBFRUT2"].value_counts()

Never              3142
Times per month     757
Times per week      629
Times per day       369
Name: SSBFRUT2, dtype: int64

In [849]:
dataset["SSBFRUT2"].isnull().sum()

7441

In [850]:
dataset.drop("SSBFRUT2", axis=1, inplace=True)

In [851]:
dataset["HCVHEAR"].value_counts()

Yes    4604
No      309
Name: HCVHEAR, dtype: int64

In [852]:
dataset["HCVHEAR"].isnull().sum()

7425

In [853]:
dataset.drop("HCVHEAR", axis=1, inplace=True)

In [854]:
dataset["HCVTEST"].value_counts()

No     3148
Yes    1242
Name: HCVTEST, dtype: int64

In [855]:
dataset["HCVTEST"].isnull().sum()

7948

In [856]:
dataset.drop("HCVTEST", axis=1, inplace=True)

In [857]:
dataset["HCVLASTT"].value_counts()

Month / Year                    733
Unknown month and known year    182
771989                            3
771970                            3
771966                            2
771988                            2
771977                            1
771955                            1
771958                            1
771980                            1
771978                            1
771987                            1
771986                            1
771972                            1
771959                            1
Name: HCVLASTT, dtype: int64

In [858]:
dataset["HCVLASTT"].isnull().sum()

11404

In [859]:
dataset.drop("HCVLASTT", axis=1, inplace=True)

In [860]:
dataset["HCVINPTR"].value_counts()

No     4142
Yes     745
Name: HCVINPTR, dtype: int64

In [861]:
dataset["HCVINPTR"].isnull().sum()

7451

In [862]:
dataset.drop("HCVINPTR", axis=1, inplace=True)

In [863]:
dataset["HCVINPTO"].value_counts()

No     561
Yes     88
Name: HCVINPTO, dtype: int64

In [864]:
dataset["HCVINPTO"].isnull().sum()

11689

In [865]:
dataset.drop("HCVINPTO", axis=1, inplace=True)

In [866]:
dataset["HCVINPTA"].value_counts()

Yes    50
No     33
Name: HCVINPTA, dtype: int64

In [867]:
dataset["HCVINPTA"].isnull().sum()

12255

In [868]:
dataset.drop("HCVINPTA", axis=1, inplace=True)

In [869]:
dataset["HCVPRIMR"].value_counts()

Yes    3602
No     1283
Name: HCVPRIMR, dtype: int64

In [870]:
dataset["HCVPRIMR"].isnull().sum()

7453

In [871]:
dataset.drop("HCVPRIMR", axis=1, inplace=True)

In [872]:
dataset["HCVPRIMO"].value_counts()

No     2888
Yes     387
Name: HCVPRIMO, dtype: int64

In [873]:
dataset["HCVPRIMO"].isnull().sum()

9063

In [874]:
dataset.drop("HCVPRIMO", axis=1, inplace=True)

In [875]:
dataset["HCVPRIMA"].value_counts()

Yes    246
No     131
Name: HCVPRIMA, dtype: int64

In [876]:
dataset["HCVPRIMA"].isnull().sum()

11961

In [877]:
dataset.drop("HCVPRIMA", axis=1, inplace=True)

In [878]:
dataset["HEALTHCL1"].value_counts()

No                    2324
Yes                    306
Not sure/dont know       6
Name: HEALTHCL1, dtype: int64

In [879]:
dataset["HEALTHCL1"].isnull().sum()

9702

In [880]:
dataset.drop("HEALTHCL1", axis=1, inplace=True)

In [881]:
dataset["LIFECHG"].value_counts()

No                    4773
Yes                    278
Not sure/dont know       7
Name: LIFECHG, dtype: int64

In [882]:
dataset["LIFECHG"].isnull().sum()

7280

In [883]:
dataset.drop("LIFECHG", axis=1, inplace=True)

In [884]:
dataset["LASTDENT1"].value_counts()

Within the past year (anytime less than 12 months ago)         3553
Within the past 2 years (1 year but less than 2 years ago)      533
Within the past 5 years (2 years but less than 5 years ago)     457
5 or more years ago                                             433
Never                                                            40
Name: LASTDENT1, dtype: int64

In [885]:
dataset["LASTDENT1"].isnull().sum()

7322

In [886]:
dataset.drop("LASTDENT1", axis=1, inplace=True)

In [887]:
dataset["RMVTEETH1"].value_counts()

None                      2233
1 to 5                    1763
6 or more, but not all     677
All                        278
Name: RMVTEETH1, dtype: int64

In [888]:
dataset["RMVTEETH1"].isnull().sum()

7387

In [889]:
dataset.drop("RMVTEETH1", axis=1, inplace=True)

In [890]:
dataset["DIFFHEAR"].value_counts()

No     4662
Yes     365
Name: DIFFHEAR, dtype: int64

In [891]:
dataset["DIFFHEAR"].isnull().sum()

7311

In [892]:
dataset.drop("DIFFHEAR", axis=1, inplace=True)

In [893]:
dataset["FRUITVEG"].value_counts()

Yes, in my community or neighborhood    4603
No                                       402
Name: FRUITVEG, dtype: int64

In [894]:
dataset["FRUITVEG"].isnull().sum()

7333

In [895]:
dataset.drop("FRUITVEG", axis=1, inplace=True)

In [896]:
dataset["NOVEGFRU"].value_counts()

No stores in my community or neighborhood                                         128
Stores in my community or neighborhood have poor quality fruits and vegetables     83
Stores in my community or neighborhood are too expensive                           80
Other SPECIFY                                                                      49
Dont know / Not sure                                                               18
Dont eat fresh fruits or vegetables                                                17
Stores in my community or neighborhood have poor quality service                   10
Dont cook                                                                           6
I feel uncomfortable in stores in my community or neighborhood                      3
Name: NOVEGFRU, dtype: int64

In [897]:
dataset["NOVEGFRU"].isnull().sum()

11944

In [898]:
dataset.drop("NOVEGFRU", axis=1, inplace=True)

In [899]:
dataset["NOVFOTHR"].value_counts()

Convenience                  2
od.                          1
Buys from fresh direct       1
I grow my own.               1
Grow my own                  1
ore and get it all.          1
in a small town.             1
Like  Shotright  better      1
ur old neighborhood          1
Grow our own.                1
Brother has a farm/field.    1
Convenience thing            1
No transportation            1
Rural setting                1
Transportation               1
t readily available.         1
We have a garden.            1
y elsewhere.                 1
Poor selection.              1
ing them home.               1
Just too lazy to go.         1
Belong to a cooperative      1
Location                     1
s are too early.             1
s are mediocore              1
Grocery store                1
Don t want to be judged.     1
Poor Selection               1
I don t talk to anyone.      1
market.                      1
We grow our own              1
.                            1
oney laundering.             1
I cannot get there.          1
Not available                1
here.                        1
ty.                          1
I buy from both sources.     1
I don t have time.           1
Price                        1
Cheapest place               1
Name: NOVFOTHR, dtype: int64

In [900]:
dataset["NOVFOTHR"].isnull().sum()

12296

In [901]:
dataset.drop("NOVFOTHR", axis=1, inplace=True)

In [902]:
dataset["STRSRENT"].value_counts()

Never                   2459
Sometimes                889
Rarely                   809
Always                   383
Usually                  214
Not applicable            33
Dont know / Not sure       5
Name: STRSRENT, dtype: int64

In [903]:
dataset["STRSRENT"].isnull().sum()

7546

In [904]:
dataset.drop("STRSRENT", axis=1, inplace=True)

In [905]:
dataset["STRSMEAL"].value_counts()

Never                   3304
Rarely                   664
Sometimes                654
Always                   203
Usually                  169
Dont know / Not sure       4
Not applicable             3
Name: STRSMEAL, dtype: int64

In [906]:
dataset["STRSMEAL"].isnull().sum()

7337

In [907]:
dataset.drop("STRSMEAL", axis=1, inplace=True)

In [908]:
dataset["dsripreg"].value_counts()

New York City       4373
Long Island         1479
Mid-Hudson          1272
Capital District    1064
Western Region      1047
Finger Lakes        1003
Central New York     700
North Country        426
Southern Tier        367
Tug Hill Seaway      306
Mohawk Valley        301
Name: dsripreg, dtype: int64

In [909]:
dataset["dsripreg"].isnull().sum()

0

In [910]:
dataset["REGION"].value_counts()

NYS exclusive of NYC    7965
New York City (NYC)     4373
Name: REGION, dtype: int64

In [911]:
dataset["REGION"].isnull().sum()

0

In [912]:
dataset["PPS_1"].value_counts()

No     11518
Yes      820
Name: PPS_1, dtype: int64

In [913]:
dataset["PPS_1"].isnull().sum()

0

In [914]:
dataset["PPS_3"].value_counts()

No     11316
Yes     1022
Name: PPS_3, dtype: int64

In [915]:
dataset["PPS_3"].isnull().sum()

0

In [916]:
dataset["PPS_8"].value_counts()

No     11640
Yes      698
Name: PPS_8, dtype: int64

In [917]:
dataset["PPS_8"].isnull().sum()

0

In [918]:
dataset["PPS_9"].value_counts()

No     11172
Yes     1166
Name: PPS_9, dtype: int64

In [919]:
dataset["PPS_9"].isnull().sum()

0

In [920]:
dataset["PPS_14"].value_counts()

No     10657
Yes     1681
Name: PPS_14, dtype: int64

In [921]:
dataset["PPS_14"].isnull().sum()

0

In [922]:
dataset["PPS_16"].value_counts()

No     11545
Yes      793
Name: PPS_16, dtype: int64

In [923]:
dataset["PPS_16"].isnull().sum()

0

In [924]:
dataset["PPS_19"].value_counts()

No     11066
Yes     1272
Name: PPS_19, dtype: int64

In [925]:
dataset["PPS_19"].isnull().sum()

0

In [926]:
dataset["PPS_20"].value_counts()

No     12017
Yes      321
Name: PPS_20, dtype: int64

In [927]:
dataset["PPS_20"].isnull().sum()

0

In [928]:
dataset["PPS_21"].value_counts()

No     11006
Yes     1332
Name: PPS_21, dtype: int64

In [929]:
dataset["PPS_21"].isnull().sum()

0

In [930]:
dataset["PPS_22"].value_counts()

No     12048
Yes      290
Name: PPS_22, dtype: int64

In [931]:
dataset["PPS_22"].isnull().sum()

0

In [932]:
dataset["PPS_23"].value_counts()

No     11462
Yes      876
Name: PPS_23, dtype: int64

In [933]:
dataset["PPS_23"].isnull().sum()

0

In [934]:
dataset["PPS_25"].value_counts()

No     8198
Yes    4140
Name: PPS_25, dtype: int64

In [935]:
dataset["PPS_25"].isnull().sum()

0

In [936]:
dataset["PPS_27"].value_counts()

No     11609
Yes      729
Name: PPS_27, dtype: int64

In [937]:
dataset["PPS_27"].isnull().sum()

0

In [938]:
dataset["PPS_32"].value_counts()

No     11110
Yes     1228
Name: PPS_32, dtype: int64

In [939]:
dataset["PPS_32"].isnull().sum()

0

In [940]:
dataset["PPS_33"].value_counts()

No     10115
Yes     2223
Name: PPS_33, dtype: int64

In [941]:
dataset["PPS_33"].isnull().sum()

0

In [942]:
dataset["PPS_34"].value_counts()

No     8927
Yes    3411
Name: PPS_34, dtype: int64

In [943]:
dataset["PPS_34"].isnull().sum()

0

In [944]:
dataset["PPS_36"].value_counts()

No     11609
Yes      729
Name: PPS_36, dtype: int64

In [945]:
dataset["PPS_36"].isnull().sum()

0

In [946]:
dataset["PPS_39"].value_counts()

No     11150
Yes     1188
Name: PPS_39, dtype: int64

In [947]:
dataset["PPS_39"].isnull().sum()

0

In [948]:
dataset["PPS_40"].value_counts()

No     11343
Yes      995
Name: PPS_40, dtype: int64

In [949]:
dataset["PPS_40"].isnull().sum()

0

In [950]:
dataset["PPS_43"].value_counts()

No     12105
Yes      233
Name: PPS_43, dtype: int64

In [951]:
dataset["PPS_43"].isnull().sum()

0

In [952]:
dataset["PPS_44"].value_counts()

No     11726
Yes      612
Name: PPS_44, dtype: int64

In [953]:
dataset["PPS_44"].isnull().sum()

0

In [954]:
dataset["PPS_45"].value_counts()

No     12032
Yes      306
Name: PPS_45, dtype: int64

In [955]:
dataset["PPS_45"].isnull().sum()

0

In [956]:
dataset["PPS_46"].value_counts()

No     11476
Yes      862
Name: PPS_46, dtype: int64

In [957]:
dataset["PPS_46"].isnull().sum()

0

In [958]:
dataset["PPS_48"].value_counts()

No     11291
Yes     1047
Name: PPS_48, dtype: int64

In [959]:
dataset["PPS_48"].isnull().sum()

0

In [960]:
dataset["PPS_52"].value_counts()

No     8198
Yes    4140
Name: PPS_52, dtype: int64

In [961]:
dataset["PPS_52"].isnull().sum()

0

In [962]:
dataset["childage"].value_counts()

Series([], Name: childage, dtype: int64)

In [963]:
dataset["childage"].isnull().sum()

12338

In [964]:
dataset.drop("childage", axis=1, inplace=True)

In [965]:
dataset["cracorg1"].isnull().sum()

12338

In [966]:
dataset.drop("cracorg1", axis=1, inplace=True)

In [967]:
dataset["_prace1"].isnull().sum()

12338

In [968]:
dataset.drop("_prace1", axis=1, inplace=True)

In [969]:
dataset["mracasc1"].isnull().sum()

12338

In [970]:
dataset.drop("mracasc1", axis=1, inplace=True)

In [971]:
dataset["_impcty"].isnull().sum()

12338

In [972]:
dataset.drop("_impcty", axis=1, inplace=True)

In [973]:
dataset["mracorg1"].isnull().sum()

12338

In [974]:
dataset.drop("mracorg1", axis=1, inplace=True)

In [975]:
dataset.shape

(12338, 240)

In [976]:
# Exporting dataset:
from IPython.display import FileLink, FileLinks

dataset.to_csv('DataSet.csv', index=False)